<%- include('BrazingGIC_1_partials/BrazingGIC_1_header') -%>

<%- include('../../partials/navbar_dashboard') -%>

    <!-- MAIN CONTENT -->

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">

      <%- include('BrazingGIC_1_partials/BrazingGIC_1_mechine_img')  %> 

      

      <div class="card card-body margin-5">

        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-0 pb-2 mb-3 border-bottom">

          <h3 class="text-uppercase" style="font-weight: 700;">COND NB 1 / other sensor </h3>

          <div class="btn-toolbar mb-2 mb-md-0"></div>


        </div>

      <!-- SELECTOR 1 :  -->

      <!-- END SELECTOR 1 : -->

      </div>



    </main>

    <!-- END MAIN CONTENT -->

    <!-- WIP NOTIFY  -->

    <div class="toast align-items-center show position-fixed bottom-0 end-0 text-bg-warning m-2" role="alert"
      aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          (WIP) THIS PAGE WORKING IN PROCESS....
        </div>
      </div>
    </div>

    <!-- END WIP NOTIFY  -->

<script>

</script>