<%- include('BrazingGIC_1_partials/BrazingGIC_1_header') -%>

  <%- include('../../partials/navbar_dashboard') -%>

  <%- include('BrazingGIC_1_partials/BrazingGIC_menu') -%>

            </div>
          </li>
        </ul>

      </div>
    </nav>

    <!-- MAIN CONTENT -->

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">

      <%- include('BrazingGIC_1_partials/BrazingGIC_1_mechine_img') %>



        <div class="card card-body margin-5">

          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-0 pb-2 mb-3 border-bottom">

            <h3 class="text-uppercase" style="font-weight: 700;">BRS NB 1 / other sensor </h3>

            <div class="btn-toolbar mb-2 mb-md-0"></div>


          </div>

          <!-- SELECTOR 1 :  -->

          <div class="container-fluid">
            <div class="row">

              <div class="col-lg-1 padding-card-gague" style="width:var(--w-12);">

              <div class="card text-bg-dark mb-3">
                <div class="card-header text-center">Meshbelt Speed</div>
                <div class="card-body">
                  <canvas id="Meshbelt-Speed" style="width: 100%;height: 100%;"></canvas>
                </div>
                <div class="card-footer">
                  <h5 class="text-center m-0 g1-value"></h5>
                </div>
              </div>
            </div>

            <div class="col-lg-1 padding-card-gague" style="width:var(--w-12);">

              <div class="card text-bg-dark mb-3">
                <div class="card-header text-center">O2 Density</div>
                <div class="card-body">
                  <canvas id="O2-Density" style="width: 100%;height: 100%;"></canvas>
                </div>
                <div class="card-footer">
                  <h5 class="text-center m-0 g2-value"></h5>
                </div>
              </div>
            </div>

            <div class="col-lg-1 padding-card-gague" style="width:var(--w-12);">

              <div class="card text-bg-dark mb-3">
                <div class="card-header text-center">N2 Gas supply</div>
                <div class="card-body">
                  <canvas id="N2-Gas-supply" style="width: 100%;height: 100%;"></canvas>
                </div>
                <div class="card-footer">
                  <h5 class="text-center m-0 g3-value"></h5>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- END SELECTOR 1 : -->

        </div>



    </main>

    <!-- END MAIN CONTENT -->

    <!-- WIP NOTIFY  -->

    <!-- <div class="toast align-items-center show position-fixed bottom-0 end-0 text-bg-warning m-2" role="alert"
      aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          (WIP) THIS PAGE WORKING IN PROCESS....
        </div>
      </div>
    </div> -->

    <!-- END WIP NOTIFY  -->

    <script>
      var opts = {

        colorStart: "#6fadcf",
        colorStop: void 0,
        gradientType: 0,
        strokeColor: "#e0e0e0",
        generateGradient: true,
        percentColors: [[0.0, "#a9d70b"], [0.50, "#f9c802"], [1.0, "#ff0000"]],

        pointer: {
          length: 0.8,
          strokeWidth: 0.035,
          iconScale: 1.0,
          color: '#FFF'
        },

        // staticLabels: {
        //   font: "10px sans-serif",
        //   labels: [0, 2, 4, 6, 8, 10],
        //   color: "#fff",
        //   fractionDigits: 0
        // },

        // staticZones: [
        //   // {strokeStyle: "#F03E3E", min: 0, max: 200},
        //   // {strokeStyle: "#FFDD00", min: 200, max: 500},
        //   { strokeStyle: "#30B32D", min: 0, max: 2000 },

        // ],

        renderTicks: {
          divisions: 6,
          divWidth: 1.1,
          divLength: 0.7,
          divColor: "#333333",
          subDivisions: 3,
          subLength: 0.5,
          subWidth: 0.6,
          subColor: "#666666"
        },

        angle: 0,

        lineWidth: 0.44,

        radiusScale: 1.0,

        fontSize: 40,

        limitMax: false,

        limitMin: false,

        highDpiSupport: true

      };

      let Meshbelt = new Gauge(document.getElementById('Meshbelt-Speed')).setOptions(opts);
      let O2_Density = new Gauge(document.getElementById('O2-Density')).setOptions(opts);
      let N2_Gas_supply = new Gauge(document.getElementById('N2-Gas-supply')).setOptions(opts);
      
      Meshbelt.setOptions({
        staticZones: [
          { strokeStyle: "#30B32D", min: 0, max: 3000 },

        ],
        staticLabels: {
          font: "6px sans-serif",
          labels: [0, 600, 1200, 1800, 2400, 3000],
          color: "#fff",
          fractionDigits: 0
        }
      });
      Meshbelt.maxValue = 3000;

      O2_Density.setOptions({
        staticZones: [
          {strokeStyle: "#30B32D", min: 0, max: 100},
          {strokeStyle: "#FFDD00", min: 100, max: 150},
          { strokeStyle: "#F03E3E", min: 150, max: 200 },
          

        ],
        staticLabels: {
          font: "10px sans-serif",
          labels: [0, 40, 80, 120, 160, 200],
          color: "#fff",
          fractionDigits: 0
        }
      });
      O2_Density.maxValue = 200;

      N2_Gas_supply.setOptions({
        staticZones: [
          { strokeStyle: "#30B32D", min: 0, max: 100 },

        ],
        staticLabels: {
          font: "10px sans-serif",
          labels: [0, 20, 40, 60, 80, 100],
          color: "#fff",
          fractionDigits: 0
        }
      });
      N2_Gas_supply.maxValue = 100;

      Meshbelt.set(0);
      // Meshbelt.staticZones = [{ strokeStyle: "#30B32D", min: 0, max: 2000 }];
      O2_Density.set(0);
      N2_Gas_supply.set(0);

      const socket = io('https://ws.ap.ngrok.io' , { transports : ['websocket'] });
      socket.on('other-sensor', (res) => {
        Meshbelt.set(res.Meshbelt_Speed);
        $(".g1-value").html(Meshbelt.value + " mm/Min");

        O2_Density.set(res.O2_Density);
        $(".g2-value").html(O2_Density.value + " ppm");

        N2_Gas_supply.set(res.N2_Gas_supply);
        $(".g3-value").html(N2_Gas_supply.value + " m³/h");

      });
    </script>