<%- include('MPOC_partials/MPOC_header') -%>

<%- include('../../partials/navbar_dashboard') -%>

<%- include('MPOC_partials/MPOC_menu') -%>

            </div>
          </li>
        </ul>

      </div>
    </nav>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">



    <div class="card card-body margin-5">

      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-0 pb-2 mb-3 border-bottom">
        <h3 class="text-uppercase" style="font-weight: 700;">MPOC / calibration </h3>
        
      </div>

      <!-- MAIN CONTENT -->

      <table class="table fs-6">
        <thead>
          <tr>
            <th scope="col">Calibratuion name</th>
            <th scope="col">A Chamber</th>
            <th scope="col">B Chamber</th>
            <th scope="col">C Chamber</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">BG 1</th>
            <td>
              <div class="card">
                <div class="card-body d-flex justify-content-between">
                  <p class="fs-4 mb-0 Cal_Chamber_A_BG1"></p>
                  <div class="d-flex align-items-end">
                    <p class="fs-6 mb-0">Pa*m³/s</p>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card">
                <div class="card-body d-flex justify-content-between">
                  <p class="fs-4 mb-0 Cal_Chamber_B_BG1"></p>
                  <div class="d-flex align-items-end">
                    <p class="fs-6 mb-0">Pa*m³/s</p>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card">
                <div class="card-body d-flex justify-content-between">
                  <p class="fs-4 mb-0 Cal_Chamber_C_BG1"></p>
                  <div class="d-flex align-items-end">
                    <p class="fs-6 mb-0">Pa*m³/s</p>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">BG 2</th>
            <td>
              <div class="card">
                <div class="card-body d-flex justify-content-between">
                  <p class="fs-4 mb-0 Cal_Chamber_A_BG2"></p>
                  <div class="d-flex align-items-end">
                    <p class="fs-6 mb-0">Pa*m³/s</p>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card">
                <div class="card-body d-flex justify-content-between">
                  <p class="fs-4 mb-0 Cal_Chamber_A_BG2"></p>
                  <div class="d-flex align-items-end">
                    <p class="fs-6 mb-0">Pa*m³/s</p>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card">
                <div class="card-body d-flex justify-content-between">
                  <p class="fs-4 mb-0 Cal_Chamber_C_BG2"></p>
                  <div class="d-flex align-items-end">
                    <p class="fs-6 mb-0">Pa*m³/s</p>
                  </div>
                </div>
              </div>
            </td>

          </tr>

          <tr>
            <th scope="row">SG 1</th>
            <td>
              <div class="card">
                <div class="card-body d-flex justify-content-between">
                  <p class="fs-4 mb-0 Cal_Chamber_A_SG1"></p>
                  <div class="d-flex align-items-end">
                    <p class="fs-6 mb-0">Pa*m³/s</p>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card">
                <div class="card-body d-flex justify-content-between">
                  <p class="fs-4 mb-0 Cal_Chamber_A_SG1"></p>
                  <div class="d-flex align-items-end">
                    <p class="fs-6 mb-0">Pa*m³/s</p>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card">
                <div class="card-body d-flex justify-content-between">
                  <p class="fs-4 mb-0 Cal_Chamber_C_SG1"></p>
                  <div class="d-flex align-items-end">
                    <p class="fs-6 mb-0">Pa*m³/s</p>
                  </div>
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <th scope="row">SG 2</th>
            <td>
              <div class="card">
                <div class="card-body d-flex justify-content-between">
                  <p class="fs-4 mb-0 Cal_Chamber_A_SG2"></p>
                  <div class="d-flex align-items-end">
                    <p class="fs-6 mb-0">Pa*m³/s</p>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card">
                <div class="card-body d-flex justify-content-between">
                  <p class="fs-4 mb-0 Cal_Chamber_B_SG2"></p>
                  <div class="d-flex align-items-end">
                    <p class="fs-6 mb-0">Pa*m³/s</p>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card">
                <div class="card-body d-flex justify-content-between">
                  <p class="fs-4 mb-0 Cal_Chamber_C_SG2"></p>
                  <div class="d-flex align-items-end">
                    <p class="fs-6 mb-0">Pa*m³/s</p>
                  </div>
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <th scope="row">NG Setpoint</th>
            <td>
              <div class="card">
                <div class="card-body d-flex justify-content-between">
                  <p class="fs-4 mb-0 Cal_Chamber_A_NG"></p>
                  <div class="d-flex align-items-end">
                    <p class="fs-6 mb-0">Pa*m³/s</p>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card">
                <div class="card-body d-flex justify-content-between">
                  <p class="fs-4 mb-0 Cal_Chamber_B_NG"></p>
                  <div class="d-flex align-items-end">
                    <p class="fs-6 mb-0">Pa*m³/s</p>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card">
                <div class="card-body d-flex justify-content-between">
                  <p class="fs-4 mb-0 Cal_Chamber_C_NG"></p>
                  <div class="d-flex align-items-end">
                    <p class="fs-6 mb-0">Pa*m³/s</p>
                  </div>
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <th scope="row">S/N</th>
            <td>
              <div class="card">
                <div class="card-body d-flex justify-content-between">
                  <p class="fs-4 mb-0 Cal_Chamber_A_SN"></p>
                  <div class="d-flex align-items-end">
                    <p class="fs-6 mb-0">Pa*m³/s</p>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card">
                <div class="card-body d-flex justify-content-between">
                  <p class="fs-4 mb-0 Cal_Chamber_B_SN"></p>
                  <div class="d-flex align-items-end">
                    <p class="fs-6 mb-0">Pa*m³/s</p>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="card">
                <div class="card-body d-flex justify-content-between">
                  <p class="fs-4 mb-0 Cal_Chamber_C_SN"></p>
                  <div class="d-flex align-items-end">
                    <p class="fs-6 mb-0">Pa*m³/s</p>
                  </div>
                </div>
              </div>
            </td>
          </tr>

        </tbody>
      </table>

      <!-- END MAIN CONTENT -->

      

  </main>

  <script>
     const socket = io('https://ws.ap.ngrok.io', { transports: ['websocket'] });
        socket.on('mpoc-all-data', (res) => {
          $(".Chamber_A_Pa").html(res.Chamber_A_Pa);
          $(".Chamber_A_MPa1").html(res.Chamber_A_MPa1);
          $(".Chamber_A_MPa2").html(res.Chamber_A_MPa2);
          $(".Chamber_A_CT").html(res.Chamber_A_CT);
          $(".Chamber_B_Pa").html(res.Chamber_B_Pa);
          $(".Chamber_B_MPa1").html(res.Chamber_B_MPa1);
          $(".Chamber_B_MPa2").html(res.Chamber_B_MPa2);
          $(".Chamber_B_CT").html(res.Chamber_B_CT);
          $(".Chamber_C_Pa").html(res.Chamber_C_Pa);
          $(".Chamber_C_MPa1").html(res.Chamber_C_MPa1);
          $(".Chamber_C_MPa2").html(res.Chamber_C_MPa2);
          $(".Chamber_C_CT").html(res.Chamber_C_CT);
          $(".He").html(res.He);
          $(".Cal_Chamber_A_BG1").html(res.Cal_Chamber_A_BG1);
          $(".Cal_Chamber_A_BG2").html(res.Cal_Chamber_A_BG2);
          $(".Cal_Chamber_A_SG1").html(res.Cal_Chamber_A_SG1);
          $(".Cal_Chamber_A_SG2").html(res.Cal_Chamber_A_SG2);
          $(".Cal_Chamber_A_NG").html(res.Cal_Chamber_A_NG);
          $(".Cal_Chamber_A_SN").html(res.Cal_Chamber_A_SN);
          $(".Cal_Chamber_B_BG1").html(res.Cal_Chamber_B_BG1);
          $(".Cal_Chamber_B_BG2").html(res.Cal_Chamber_B_BG2);
          $(".Cal_Chamber_B_SG1").html(res.Cal_Chamber_B_SG1);
          $(".Cal_Chamber_B_SG2").html(res.Cal_Chamber_B_SG2);
          $(".Cal_Chamber_B_NG").html(res.Cal_Chamber_B_NG);
          $(".Cal_Chamber_B_SN").html(res.Cal_Chamber_B_SN);
          $(".Cal_Chamber_C_BG1").html(res.Cal_Chamber_C_BG1);
          $(".Cal_Chamber_C_BG2").html(res.Cal_Chamber_C_BG2);
          $(".Cal_Chamber_C_SG1").html(res.Cal_Chamber_C_SG1);
          $(".Cal_Chamber_C_SG2").html(res.Cal_Chamber_C_SG2);
          $(".Cal_Chamber_C_NG").html(res.Cal_Chamber_C_NG);
          $(".Cal_Chamber_C_SN").html(res.Cal_Chamber_C_SN);
        });
  </script>