<a href="/layout/BrazingBRS?page=vibrator" class="btn btn-dark btn-grey w-100 disabled">Vibrator RC Fan</a>
<a href="/layout/BrazingBRS?page=temp" class="btn btn-dark btn-grey w-100 disabled">Temperature RC Fan</a>
<a href="/layout/BrazingBRS?page=current" class="btn btn-dark btn-grey w-100 disabled">Current RC Fan</a>
<a href="/layout/BrazingBRS?page=tempChamber" class="btn btn-dark btn-grey w-100 ">Temp. Chamber Degreasing</a>
<a href="/layout/BrazingBRS?page=tempChamberB" class="btn btn-dark btn-grey w-100 ">Temp. Chamber Brazing</a>
<a href="/layout/BrazingBRS?page=otherSensor" class="btn btn-dark btn-grey w-100 ">Other Sensor</a>
<a href="/layout/BrazingBRS?page=history" class="btn btn-dark btn-grey w-100 disabled" role="button" aria-disabled="true">History</a>