<header class="navbar sticky-top flex-md-nowrap p-0">



  <a class="navbar-brand col-md-3 col-lg-2 me-0 fs-6" style="padding-left: 12px;" href="/layout"><img
      src="/images/denso-logo.png" alt="" width="150px" height="27.438px"></a>

  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/layout">Home</a>
    </li>
  </ul>
  <button class="navbar-toggler position-absolute d-md-none collapsed" style="margin-top: .5rem;" type="button"
    data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="row badge-nav-m-right" style="width: calc(100vh);margin-left: 0;">

    <div class="col-lg-8 col-md-8">

    </div>

    <div class="col-lg-2 col-md-2 col-sm-12  col-xs-12 badge-nav badge-nav-lr">

      <div class="card">
        <div class="card-body text-end" style="padding: 0.3rem;">
          <p style="margin-bottom: 0px;font-size: 0.7rem;" id="date"></p>
          <h6 style="margin-bottom: 0px;font-size: 0.8rem;" id="time"></h6>
        </div>
      </div>

    </div>


    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 badge-nav-lr">
      <div class="card">
        <div class="card-body text-end" style="padding: 0.3rem;">
          <p style="margin-bottom: 0px;font-size: 0.7rem;" class="card-text">LoRa Node ID : null</p>
          <h6 style="margin-bottom: 0px;font-size: 0.8rem;" class="card-text">RSSI : null SNR : null</h6>
        </div>
      </div>
    </div>

  </div>



  <!-- <div class="text-end d-inline">
      <div style="margin-top: 0.5rem;"></div>
        <div class="card">
          <div class="card-body text-end" style="padding: 0.3rem;">
            <p style="margin-bottom: 0px;font-size: 0.7rem;" id="date"></p>
            <h6 style="margin-bottom: 0px;font-size: 0.8rem;" id="time"></h6>
          </div>
        </div>
        <div style="margin-right: 0.3rem;margin-bottom: 0.6rem;"></div>
        <div class="card">
          <div class="card-body text-end" style="padding: 0.3rem;">
            <p style="margin-bottom: 0px;font-size: 0.7rem;">LoRa Node ID : null</p>
            <h6 style="margin-bottom: 0px;font-size: 0.8rem;">RSSI : null SNR : null</h6>
          </div>
      </div>
  </div> -->

  <!-- <div class="navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-collapse justify-content-end" id="navbarResponsive">
        <div style="margin-top: 0.5rem;"></div>
        <div class="card">
          <div class="card-body text-end" style="padding: 0.3rem;">
            <p style="margin-bottom: 0px;font-size: 0.7rem;" id="date"></p>
            <h6 style="margin-bottom: 0px;font-size: 0.8rem;" id="time"></h6>
          </div>
        </div>
        <div style="margin-right: 0.3rem;margin-bottom: 0.6rem;"></div>
        <div class="card">
          <div class="card-body text-end" style="padding: 0.3rem;">
            <p style="margin-bottom: 0px;font-size: 0.7rem;">LoRa Node ID : null</p>
            <h6 style="margin-bottom: 0px;font-size: 0.8rem;">RSSI : null SNR : null</h6>
          </div>
        </div>
    </div>
  </div> -->

</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse nav-margin" style="margin-bottom: 0px;">
      <div class="position-sticky pt-4 sidebar-sticky">

        <ul class="nav flex-column">

          <li class="nav-item">
            <div class="d-grid gap-2 nav-link" style="margin-top: 2rem;">

              <a href="/layout">
                <button class="btn btn-dark btn-grey w-100 btn-lg" type="submit">
                  <i class="bi bi-arrow-left-short"></i>
                  Back
                </button>
              </a>

              <button class="btn btn-dark btn-grey w-100 btn-lg" type="submit">
                <i class="bi bi-sliders2"></i>
                Setting
              </button>


              <h6
                class="sidebar-heading d-flex justify-content-between align-items-center mt-4 mb-1 text-muted text-uppercase">
                <span>CondNB 1 MENU</span>
              </h6>

              <%- include('../dashboard/BrazingGIC_menu') -%>

            </div>
          </li>
        </ul>

      </div>
    </nav>