<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="/images/denso-logo.png" alt="" width="150px"></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
      </div>
    </div>
  </nav>