<nav class="navbar sticky-top navbar-expand-lg" style="flex-wrap:wrap;z-index:101;background-image: url(../../images/nav_red.png);box-shadow: 0 0px 0px;background-repeat: no-repeat;background-size: cover;">
  <!-- ;box-shadow: 0 0px 0px;background-position: 0% 92.4%; -->
    <div class="container-fluid">
      <a class="navbar-brand" href="/layout"><img src="/images/denso-logo-white.png" alt="" width="200px"></a>
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/layout"><button type="button" class="btn btn-light" style="color:var(--bs-body-bg)">Mechine layout</button></a>
        </li>
        <% try { if (sw == 1) { %> 
        <li class="ms-3">
          <div class="form-check form-switch" style="margin-top: 0.75rem;">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" style="width: 2.5em;height: 1.5em;">
            <p class="mb-0 mt-0 pt-1 me-2 ms-3" style="margin-top: 0.4rem;">wellgrow/samrong layout</p>
        </div>
        </li>
        <% } } catch { 
          
        } %> 
      </ul>
      
      <button class="navbar-toggler position-absolute d-md-none collapsed" style="margin-top: .5rem;" type="button"
      data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-collapse justify-content-end" id="navbarResponsive">
          <div style="margin-top: 0.5rem;"></div>
          <div class="card">
            <div class="card-body text-end" style="padding: 0.3rem;">
              <p style="margin-bottom: 0px;font-size: 0.7rem;" id="date"></p>
              <h6 style="margin-bottom: 0px;font-size: 0.8rem;" id="time"></h6>
            </div>
          </div>
          <div style="margin-right: 0.3rem;margin-bottom: 0.6rem;"></div>
          <div class="card">
            <div class="card-body text-end" style="padding: 0.3rem;">
              <p style="margin-bottom: 0px;font-size: 0.7rem;">LoRa Node ID : null</p>
              <h6 style="margin-bottom: 0px;font-size: 0.8rem;">RSSI : null SNR : null</h6>
            </div>
          </div>
        
      </div>
    </div>
    
    </div>
    <br>
    <!-- <hr class="border border-danger border-2 opacity-50 w-100"> -->
    
  </nav>

  