<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/layout"><img src="/images/denso-logo.png" alt="" width="150px"></a>
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/layout">Home</a>
        </li>
      </ul>
      <div class="navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-collapse justify-content-end" id="navbarResponsive">
          <div style="margin-top: 0.5rem;"></div>
          <div class="card">
            <div class="card-body text-end" style="padding: 0.3rem;">
              <p style="margin-bottom: 0px;font-size: 0.7rem;" id="date"></p>
              <h6 style="margin-bottom: 0px;font-size: 0.8rem;" id="time"></h6>
            </div>
          </div>
          <div style="margin-right: 0.3rem;margin-bottom: 0.6rem;"></div>
          <div class="card">
            <div class="card-body text-end" style="padding: 0.3rem;">
              <p style="margin-bottom: 0px;font-size: 0.7rem;">LoRa Node ID : null</p>
              <h6 style="margin-bottom: 0px;font-size: 0.8rem;">RSSI : null SNR : null</h6>
            </div>
          </div>
        
      </div>
    </div>
  </nav>