<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider {
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }

    

    @media (max-width: 767.98px) { 
        .badge-nav {
            padding:0.8rem;
        }

        .badge-nav-lr {
            padding-left: 0.8rem!important;
            padding-right: 0.8rem!important;
        }

        .nav-margin {
            margin-top: 7rem
        }

        .padding-card-gague {
            padding-left: 12px!important;
            padding-right: 12px!important;
        }

        

        /* .margin-5 {
            margin-right: 0!important;
        } */
     }

     @media (min-width: 768px) { 
        .badge-nav-m-right {
            margin-right: 0;
        }

    }

    .testimonial-group > .row {
        overflow-x: auto;
        white-space: nowrap;
    }
    .testimonial-group > .row > .col-4 {
        display: inline-block;
        float: none;
    }

    :root {
      --w-12: 12rem;
    }

    
  </style>
<link href="/stylesheets/dashboard.css" rel="stylesheet">
</head>
<body style="overflow-x:hidden">

    

    <header class="navbar sticky-top flex-md-nowrap p-0">

        

        <a class="navbar-brand col-md-3 col-lg-2 me-0 fs-6" style="padding-left: 12px;" href="/layout"><img src="/images/denso-logo.png" alt="" width="150px" height="27.438px"></a>

        <button class="navbar-toggler position-absolute d-md-none collapsed" style="margin-top: .5rem;" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

            <div class="row badge-nav-m-right" style="width: calc(100vh);margin-left: 0;">

                <div class="col-lg-8 col-md-8">

                </div>

                <div class="col-lg-2 col-md-2 col-sm-12  col-xs-12 badge-nav badge-nav-lr">

                    <div class="card">
                        <div class="card-body text-end" style="padding: 0.3rem;">
                            <p style="margin-bottom: 0px;font-size: 0.7rem;" id="date"></p>
                            <h6 style="margin-bottom: 0px;font-size: 0.8rem;" id="time"></h6>
                        </div>
                      </div>

                </div>
                

                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 badge-nav-lr">
                    <div class="card">
                        <div class="card-body text-end" style="padding: 0.3rem;">
                            <p style="margin-bottom: 0px;font-size: 0.7rem;" class="card-text">LoRa Node ID : null</p>
                            <h6 style="margin-bottom: 0px;font-size: 0.8rem;" class="card-text">RSSI : null SNR : null</h6>
                        </div>
                      </div>
                </div>
    
              </div>

        

        <!-- <div class="text-end d-inline">
            <div style="margin-top: 0.5rem;"></div>
              <div class="card">
                <div class="card-body text-end" style="padding: 0.3rem;">
                  <p style="margin-bottom: 0px;font-size: 0.7rem;" id="date"></p>
                  <h6 style="margin-bottom: 0px;font-size: 0.8rem;" id="time"></h6>
                </div>
              </div>
              <div style="margin-right: 0.3rem;margin-bottom: 0.6rem;"></div>
              <div class="card">
                <div class="card-body text-end" style="padding: 0.3rem;">
                  <p style="margin-bottom: 0px;font-size: 0.7rem;">LoRa Node ID : null</p>
                  <h6 style="margin-bottom: 0px;font-size: 0.8rem;">RSSI : null SNR : null</h6>
                </div>
            </div>
        </div> -->
        
        <!-- <div class="navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-collapse justify-content-end" id="navbarResponsive">
              <div style="margin-top: 0.5rem;"></div>
              <div class="card">
                <div class="card-body text-end" style="padding: 0.3rem;">
                  <p style="margin-bottom: 0px;font-size: 0.7rem;" id="date"></p>
                  <h6 style="margin-bottom: 0px;font-size: 0.8rem;" id="time"></h6>
                </div>
              </div>
              <div style="margin-right: 0.3rem;margin-bottom: 0.6rem;"></div>
              <div class="card">
                <div class="card-body text-end" style="padding: 0.3rem;">
                  <p style="margin-bottom: 0px;font-size: 0.7rem;">LoRa Node ID : null</p>
                  <h6 style="margin-bottom: 0px;font-size: 0.8rem;">RSSI : null SNR : null</h6>
                </div>
              </div>
          </div>
        </div> -->

    </header>
      
      <div class="container-fluid">
        <div class="row">
          <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse nav-margin" style="margin-bottom: 0px;">
            <div class="position-sticky pt-4 sidebar-sticky">

              <ul class="nav flex-column">

                <li class="nav-item">
                  <div class="d-grid gap-2 nav-link" style="margin-top: 2rem;">

                    <a href="/layout">
                      <button class="btn btn-dark btn-grey w-100 btn-lg" type="submit">
                        <i class="bi bi-arrow-left-short"></i>
                        Back
                      </button>
                    </a>
                    
                    <button class="btn btn-dark btn-grey w-100 btn-lg" type="submit">
                      <i class="bi bi-sliders2"></i>
                      Setting
                    </button>


                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center mt-4 mb-1 text-muted text-uppercase">
                      <span>CondNB 1 MENU</span>
                    </h6>

                    <a class="btn btn-dark btn-grey w-100">Vibrator RC Fan</a>
                    <a class="btn btn-dark btn-grey w-100">Temperature RC Fan</a>
                    <a class="btn btn-dark btn-grey w-100">Current RC Fan</a>
                    <a class="btn btn-dark btn-grey w-100">Temp. Chamber</a>
                    <a class="btn btn-dark btn-grey w-100">Other Sensor</a>
                    <a href="/layout/BrazingGIC1/history" class="btn btn-dark btn-grey w-100">History</a>

                  </div>
                </li>
              </ul>
      
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">
            
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <img src="../../images/BrazingGIC1_layout.png" width="100%">
                    </div>
                </div>
            </div>

            <div class="card card-body margin-5">
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

                <h1 style="font-weight: 700;">RC Fan</h1>
                
                <div class="btn-toolbar mb-2 mb-md-0"></div> 
                

              </div> 

                <div class="container-fluid">
                    <div class="row">

                            <div class="col-lg-1 padding-card-gague" style="width:var(--w-12);">

                                <div class="card text-bg-dark mb-3">
                                    <div class="card-header text-center">RC Fan 1</div>
                                    <div class="card-body">
                                            <canvas id="RC-Fan-1-X" style="width: 100%;height: 100%;"></canvas>
                                        </div>
                                        <div class="card-footer">
                                            <p class="text-center m-0">X-Axis : 1</p>
                                        </div>
                                        <div class="card-body">
                                            <canvas id="RC-Fan-1-Z" style="width: 100%;height: 100%;"></canvas>
                                        </div>
                                        <div class="card-footer">
                                            <p class="text-center m-0">Z-Axis : 1</p>
                                        </div>        
                                    </div>
                                </div>

    
                            <div class="col-lg-1 padding-card-gague" style="width:var(--w-12);">
                                
                                <div class="card text-bg-dark mb-3">
                                    <div class="card-header text-center">RC Fan 2</div>
                                    <div class="card-body">
                                        <canvas id="RC-Fan-2-X" style="width: 100%;height: 100%;"></canvas>
                                    </div>
                                    <div class="card-footer">
                                        <p class="text-center m-0">X-Axis : 1</p>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="RC-Fan-2-Z" style="width: 100%;height: 100%;"></canvas>
                                    </div>
                                    <div class="card-footer">
                                        <p class="text-center m-0">Z-Axis : 1</p>
                                    </div>                                    
                                </div>
                            </div>

    
                            <div class="col-lg-1 padding-card-gague" style="width:var(--w-12);">
                                
                                <div class="card text-bg-dark mb-3">
                                    <div class="card-header text-center">RC Fan 3</div>
                                    <div class="card-body">
                                        <canvas id="RC-Fan-3-X" style="width: 100%;height: 100%;"></canvas>
                                    </div>
                                    <div class="card-footer">
                                        <p class="text-center m-0">X-Axis : 1</p>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="RC-Fan-3-Z" style="width: 100%;height: 100%;"></canvas>
                                    </div>
                                    <div class="card-footer">
                                        <p class="text-center m-0">Z-Axis : 1</p>
                                    </div>                                   
                                </div>
                            </div>
    
                            <div class="col-lg-1 padding-card-gague" style="width:var(--w-12);">
                                
                                <div class="card text-bg-dark mb-3">
                                    <div class="card-header text-center">RC Fan 4</div>
                                    <div class="card-body">
                                        <canvas id="RC-Fan-4-X" style="width: 100%;height: 100%;"></canvas>
                                    </div>
                                    <div class="card-footer">
                                        <p class="text-center m-0">X-Axis : 1</p>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="RC-Fan-4-Z" style="width: 100%;height: 100%;"></canvas>
                                    </div>
                                    <div class="card-footer">
                                        <p class="text-center m-0">Z-Axis : 1</p>
                                    </div>                                      
                                </div>
                            </div>
    
                            <div class="col-lg-1 padding-card-gague" style="width:var(--w-12);">
                                
                                <div class="card text-bg-dark mb-3">
                                    <div class="card-header text-center">RC Fan 5</div>
                                    <div class="card-body">
                                        <canvas id="RC-Fan-5-X" style="width: 100%;height: 100%;"></canvas>
                                    </div>
                                    <div class="card-footer">
                                        <p class="text-center m-0">X-Axis : 1</p>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="RC-Fan-5-Z" style="width: 100%;height: 100%;"></canvas>
                                    </div>
                                    <div class="card-footer">
                                        <p class="text-center m-0">Z-Axis : 1</p>
                                    </div>                                     
                                </div>
                            </div>
    
                            <div class="col-lg-1 padding-card-gague" style="width:var(--w-12);">
                                
                                <div class="card text-bg-dark mb-3">
                                    <div class="card-header text-center">RC Fan 6</div>
                                    <div class="card-body">
                                        <canvas id="RC-Fan-6-X" style="width: 100%;height: 100%;"></canvas>
                                    </div>
                                    <div class="card-footer">
                                        <p class="text-center m-0">X-Axis : 1</p>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="RC-Fan-6-Z" style="width: 100%;height: 100%;"></canvas>
                                    </div>
                                    <div class="card-footer">
                                        <p class="text-center m-0">Z-Axis : 1</p>
                                    </div>      
                                </div>
                            </div>
    
                            <div class="col-lg-1 padding-card-gague" style="width:var(--w-12);">
                                
                                <div class="card text-bg-dark mb-3">
                                    <div class="card-header text-center">RC Fan 7</div>
                                    <div class="card-body">
                                        <canvas id="RC-Fan-7-X" style="width: 100%;height: 100%;"></canvas>
                                    </div>
                                    <div class="card-footer">
                                        <p class="text-center m-0">X-Axis : 1</p>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="RC-Fan-7-Z" style="width: 100%;height: 100%;"></canvas>
                                    </div>
                                    <div class="card-footer">
                                        <p class="text-center m-0">Z-Axis : 1</p>
                                    </div>                                        
                                </div>
                            </div>
    
                            <div class="col-lg-1 padding-card-gague" style="width:var(--w-12);">
                                
                                <div class="card text-bg-dark mb-3">
                                    <div class="card-header text-center">RC Fan 8</div>
                                    <div class="card-body">
                                        <canvas id="RC-Fan-8-X" style="width: 100%;height: 100%;"></canvas>
                                    </div>
                                    <div class="card-footer">
                                        <p class="text-center m-0">X-Axis : 1</p>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="RC-Fan-8-Z" style="width: 100%;height: 100%;"></canvas>
                                    </div>
                                    <div class="card-footer">
                                        <p class="text-center m-0">Z-Axis : 1</p>
                                    </div>                                       
                                </div>
                            </div>
    
                            <div class="col-lg-1 padding-card-gague" style="width:var(--w-12);">
                                
                                <div class="card text-bg-dark mb-3">
                                    <div class="card-header text-center">RC Fan 9</div>
                                    <div class="card-body">
                                        <canvas id="RC-Fan-9-X" style="width: 100%;height: 100%;"></canvas>
                                    </div>
                                    <div class="card-footer">
                                        <p class="text-center m-0">X-Axis : 1</p>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="RC-Fan-9-Z" style="width: 100%;height: 100%;"></canvas>
                                    </div>
                                    <div class="card-footer">
                                        <p class="text-center m-0">Z-Axis : 1</p>
                                    </div>                                        
                                </div>
                            </div>
    
                        
                </div>

            </div>
            
            <div class="card card-body margin-5 ps-1 pe-1" style="height: 27vh;">
                <canvas class="my-4 w-100" id="myChart" style="width: 100%;height: 100%"></canvas>
            </div>
              
          </main>
        </div>
      </div>
      
      <div class="toast align-items-center show position-fixed bottom-0 end-0 text-bg-warning m-2" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body">
            (WIP) THIS PAGE WORKING IN PROCESS....
          </div>
        </div>
      </div>
<script>
    var opts = {

    colorStart: "#6fadcf",
    colorStop: void 0,
    gradientType: 0,
    strokeColor: "#e0e0e0",
    generateGradient: true,
    percentColors: [[0.0, "#a9d70b" ], [0.50, "#f9c802"], [1.0, "#ff0000"]],

    pointer: {
      length: 0.8,
      strokeWidth: 0.035,
      iconScale: 1.0,
      color: '#FFF'
    },

    staticLabels: {
      font: "10px sans-serif",
      labels: [0, 2, 4, 6,8,10],
      color: "#fff",
      fractionDigits: 0
    },

    staticZones: [
      // {strokeStyle: "#F03E3E", min: 0, max: 200},
      // {strokeStyle: "#FFDD00", min: 200, max: 500},
      {strokeStyle: "#30B32D", min: 0, max: 4},
      {strokeStyle: "#FFDD00", min: 4, max: 6},
      {strokeStyle: "#F03E3E", min: 6, max: 10}
    ],

    renderTicks: {
      divisions: 6,
      divWidth: 1.1,
      divLength: 0.7,
      divColor: "#333333",
      subDivisions: 3,
      subLength: 0.5,
      subWidth: 0.6,
      subColor: "#666666"
    },

    angle: 0,

    lineWidth: 0.44,

    radiusScale: 1.0,

    fontSize: 40,

    limitMax: false,

    limitMin: false,

    highDpiSupport: true

    };

    var RC_Fan_1_X = new Gauge(document.getElementById('RC-Fan-1-X')).setOptions(opts);
    var RC_Fan_1_Z = new Gauge(document.getElementById('RC-Fan-1-Z')).setOptions(opts);

    var RC_Fan_2_X = new Gauge(document.getElementById('RC-Fan-2-X')).setOptions(opts);
    var RC_Fan_2_Z = new Gauge(document.getElementById('RC-Fan-2-Z')).setOptions(opts);

    var RC_Fan_3_X = new Gauge(document.getElementById('RC-Fan-3-X')).setOptions(opts);
    var RC_Fan_3_Z = new Gauge(document.getElementById('RC-Fan-3-Z')).setOptions(opts);

    var RC_Fan_4_X = new Gauge(document.getElementById('RC-Fan-4-X')).setOptions(opts);
    var RC_Fan_4_Z = new Gauge(document.getElementById('RC-Fan-4-Z')).setOptions(opts);

    var RC_Fan_5_X = new Gauge(document.getElementById('RC-Fan-5-X')).setOptions(opts);
    var RC_Fan_5_Z = new Gauge(document.getElementById('RC-Fan-5-Z')).setOptions(opts);

    var RC_Fan_6_X = new Gauge(document.getElementById('RC-Fan-6-X')).setOptions(opts);
    var RC_Fan_6_Z = new Gauge(document.getElementById('RC-Fan-6-Z')).setOptions(opts);

    var RC_Fan_7_X = new Gauge(document.getElementById('RC-Fan-7-X')).setOptions(opts);
    var RC_Fan_7_Z = new Gauge(document.getElementById('RC-Fan-7-Z')).setOptions(opts);

    var RC_Fan_8_X = new Gauge(document.getElementById('RC-Fan-8-X')).setOptions(opts);
    var RC_Fan_8_Z = new Gauge(document.getElementById('RC-Fan-8-Z')).setOptions(opts);

    var RC_Fan_9_X = new Gauge(document.getElementById('RC-Fan-9-X')).setOptions(opts);
    var RC_Fan_9_Z = new Gauge(document.getElementById('RC-Fan-9-Z')).setOptions(opts);

    RC_Fan_1_X.maxValue = 10;
    RC_Fan_1_Z.maxValue = 10;

    RC_Fan_2_X.maxValue = 10;
    RC_Fan_2_Z.maxValue = 10;

    RC_Fan_3_X.maxValue = 10;
    RC_Fan_3_Z.maxValue = 10;

    RC_Fan_4_X.maxValue = 10;
    RC_Fan_4_Z.maxValue = 10;

    RC_Fan_5_X.maxValue = 10;
    RC_Fan_5_Z.maxValue = 10;

    RC_Fan_6_X.maxValue = 10;
    RC_Fan_6_Z.maxValue = 10;

    RC_Fan_7_X.maxValue = 10;
    RC_Fan_7_Z.maxValue = 10;

    RC_Fan_8_X.maxValue = 10;
    RC_Fan_8_Z.maxValue = 10;

    RC_Fan_9_X.maxValue = 10;
    RC_Fan_9_Z.maxValue = 10;

    setInterval(() => {
        RC_Fan_1_X.set(Math.floor(Math.random() * 10) + 1);
        RC_Fan_1_Z.set(Math.floor(Math.random() * 10) + 1);

        RC_Fan_2_X.set(Math.floor(Math.random() * 10) + 1);
        RC_Fan_2_Z.set(Math.floor(Math.random() * 10) + 1);

        RC_Fan_3_X.set(Math.floor(Math.random() * 10) + 1);
        RC_Fan_3_Z.set(Math.floor(Math.random() * 10) + 1);

        RC_Fan_4_X.set(Math.floor(Math.random() * 10) + 1);
        RC_Fan_4_Z.set(Math.floor(Math.random() * 10) + 1);

        RC_Fan_5_X.set(Math.floor(Math.random() * 10) + 1);
        RC_Fan_5_Z.set(Math.floor(Math.random() * 10) + 1);

        RC_Fan_6_X.set(Math.floor(Math.random() * 10) + 1);
        RC_Fan_6_Z.set(Math.floor(Math.random() * 10) + 1);

        RC_Fan_7_X.set(Math.floor(Math.random() * 10) + 1);
        RC_Fan_7_Z.set(Math.floor(Math.random() * 10) + 1);

        RC_Fan_8_X.set(Math.floor(Math.random() * 10) + 1);
        RC_Fan_8_Z.set(Math.floor(Math.random() * 10) + 1);

        RC_Fan_9_X.set(Math.floor(Math.random() * 10) + 1);
        RC_Fan_9_Z.set(Math.floor(Math.random() * 10) + 1);

    },1000)
    
    const ctx = document.getElementById('myChart');

    const chart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: [],
          datasets: [{
            label: 'X-Axis',
            data: [],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#177D94',
            borderWidth: 4,
            pointBackgroundColor: '#177D94'
          },
          {
            label: 'Z-Axis',
            data: [],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#28BEE0',
            borderWidth: 4,
            pointBackgroundColor: '#28BEE0'
          }
        ]
        },
      options: {
        legend: {
            display: false,
            labels: {
                fontColor: 'rgb(255, 99, 132)'
            }
        },
        scales: {
          y: {
            ticks: {
              color: '#ADB5BD',
              beginAtZero: false
            }
          },
          x: {
            ticks: {
              color: '#ADB5BD',
              beginAtZero: false
            },
              min: 0,
              max: 30,
          },
          
        },
        
        responsive: true,
        // plugins: {
        //   annotation: {
        //     annotations: [
        //       {
        //         type: 'line',
        //         scaleID: 'y',
        //         value: 15,
        //         borderColor: 'rgb(255, 65, 65)',
        //         label: {
        //           enabled: true, 
        //           content: 'Alarm',
        //           borderWidth: 2,
        //           borderColor: 'transparent',
        //           position: 'end',
        //         }
        //       },
        //       {
        //         type: 'line',
        //         scaleID: 'y',
        //         value: 6,
        //         borderColor: 'rgb(255, 192, 65)',
        //         label: { 
        //           enabled: true, 
        //           content: 'Warning',
        //           borderWidth: 2,
        //           borderColor: 'transparent',
        //           position: 'end',
        //         }
        //       }
        //     ]
        //   }
        // }
      }
    })
    
</script>


