<%- include('GCAC_1_partials/GCAC_1_header') -%>

<%- include('../../partials/navbar_dashboard') -%>

<%- include('GCAC_1_partials/GCAC_1_menu') -%>

            </div>
          </li>
        </ul>

      </div>
    </nav>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">



    <div class="card card-body margin-5">

      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-0 pb-2 mb-3 border-bottom">
        <h3 class="text-uppercase" style="font-weight: 700;">GCAC 1 / index </h3>
        
      </div>

      <!-- MAIN CONTENT -->

      <table class="table">
        <tr>
          <th scope="col">
            Data
          </th>
          <th scope="col">
            Values
          </th>
          <th scope="col">
            Unit
          </th>
        </tr>
        <tr>
          <td>MC_Status</td>
          <td class="MC_Status"></td>
          <td></td>
        </tr>
        <tr>
          <td>CH1_PA</td>
          <td class="CH1_PA"></td>
          <td>Pa</td>
        </tr>
        <tr>
          <td>CH1_SP_A1</td>
          <td class="CH1_SP_A1"></td>
          <td>MPa</td>
        </tr>
        <tr>
          <td>CH1_SP_A2</td>
          <td class="CH1_SP_A2"></td>
          <td>MPa</td>
        </tr>
        <!-- <tr>
          <td>CH1_MPA3</td>
          <td class="CH1_MPA3"></td>
          <td>MPa</td>
        </tr> -->
        <tr>
          <td>CH1_CT</td>
          <td class="CH1_CT"></td>
          <td>s</td>
        </tr>
        <tr>
          <td>CH2_PA</td>
          <td class="CH2_PA"></td>
          <td>Pa</td>
        </tr>
        <tr>
          <td>CH2_SP_B1</td>
          <td class="CH2_SP_B1"></td>
          <td>MPa</td>
        </tr>
        <tr>
          <td>CH2_SP_B2</td>
          <td class="CH2_SP_B2"></td>
          <td>MPa</td>
        </tr>
        <!-- <tr>
          <td>CH2_MPA3</td>
          <td class="CH2_MPA3"></td>
          <td>MPa</td>
        </tr> -->
        <tr>
          <td>CH2_CT</td>
          <td class="CH2_CT"></td>
          <td>s</td>
        </tr>
        <tr>
          <td>Bit_Trig</td>
          <td class="Bit_Trig"></td>
          <td></td>
        </tr>
        <tr>
          <td>Cal_BG1_CH1</td>
          <td class="Cal_BG1_CH1"></td>
          <td>Pa*m³/s</td>
        </tr>
        <tr>
          <td>Cal_BG2_CH1</td>
          <td class="Cal_BG2_CH1"></td>
          <td>Pa*m³/s</td>
        </tr>
        <tr>
          <td>Cal_SG1_CH1</td>
          <td class="Cal_SG1_CH1"></td>
          <td>Pa*m³/s</td>
        </tr>
        <tr>
          <td>Cal_SG2_CH1</td>
          <td class="Cal_SG2_CH1"></td>
          <td>Pa*m³/s</td>
        </tr>
        <tr>
          <td>Cal_NG_CH1</td>
          <td class="Cal_NG_CH1"></td>
          <td>Pa*m³/s</td>
        </tr>
        <tr>
          <td>Cal_SN_CH1</td>
          <td class="Cal_SN_CH1"></td>
          <td>Pa*m³/s</td>
        </tr>
        <tr>
          <td>Cal_BG1_CH2</td>
          <td class="Cal_BG1_CH2"></td>
          <td>Pa*m³/s</td>
        </tr>
        <tr>
          <td>Cal_BG2_CH2</td>
          <td class="Cal_BG2_CH2"></td>
          <td>Pa*m³/s</td>
        </tr>
        <tr>
          <td>Cal_SG1_CH2</td>
          <td class="Cal_SG1_CH2"></td>
          <td>Pa*m³/s</td>
        </tr>
        <tr>
          <td>Cal_SG2_CH2</td>
          <td class="Cal_SG2_CH2"></td>
          <td>Pa*m³/s</td>
        </tr>
        <tr>
          <td>Cal_NG_CH2</td>
          <td class="Cal_NG_CH2"></td>
          <td>Pa*m³/s</td>
        </tr>
        <tr>
          <td>Cal_SN_CH2</td>
          <td class="Cal_SN_CH2"></td>
          <td>Pa*m³/s</td>
        </tr>
        <tr>
          <td>Cal_HE</td>
          <td class="Cal_HE"></td>
          <td></td>
        </tr>
      </table>

      <!-- END MAIN CONTENT -->

      

  </main>

<script>
  const socket = io('https://ws.ap.ngrok.io' , { transports : ['websocket'] });
  socket.on('gcac-1-all-data', (res) => {
    $(".MC_Status").html(res.MC_Status);
    $(".CH1_PA").html(res.CH1_PA);
    $(".CH1_SP_A1").html(res.CH1_SP_A1);
    $(".CH1_SP_A2").html(res.CH1_SP_A2);
    $(".CH1_CT").html(res.CH1_CT);
    $(".CH2_PA").html(res.CH2_PA);
    $(".CH2_SP_B1").html(res.CH2_SP_B1);
    $(".CH2_SP_B2").html(res.CH2_SP_B2);
    $(".CH2_CT").html(res.CH2_CT);
    $(".Bit_Trig").html(res.Bit_Trig);
    $(".Cal_BG1_CH1").html(res.Cal_BG1_CH1);
    $(".Cal_BG2_CH1").html(res.Cal_BG2_CH1);
    $(".Cal_SG1_CH1").html(res.Cal_SG1_CH1);
    $(".Cal_SG2_CH1").html(res.Cal_SG2_CH1);
    $(".Cal_NG_CH1").html(res.Cal_NG_CH1);
    $(".Cal_SN_CH1").html(res.Cal_SN_CH1);
    $(".Cal_BG1_CH2").html(res.Cal_BG1_CH2);
    $(".Cal_BG2_CH2").html(res.Cal_BG2_CH2);
    $(".Cal_SG1_CH2").html(res.Cal_SG1_CH2);
    $(".Cal_SG2_CH2").html(res.Cal_SG2_CH2);
    $(".Cal_NG_CH2").html(res.Cal_NG_CH2);
    $(".Cal_SN_CH2").html(res.Cal_SN_CH2);
    $(".Cal_HE").html(res.Cal_HE);
  });
</script>