<%- include('GCAC_1_partials/GCAC_1_header') -%>

  <%- include('../../partials/navbar_dashboard') -%>

    <%- include('GCAC_1_partials/GCAC_1_menu') -%>

      </div>
      </li>
      </ul>

      </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">

        <div class="container-fluid">
          <div class="row">
            <div class="col-xxl-1 pb-lg-4 pb-md-4 pb-sm-4 pb-xxl-0 pe-0 ps-0">
              <div class="card w-100 h-100">
                <div class="card-header text-center fs-6">
                  He
                </div>
                <div class="card-body d-flex justify-content-between">
                  <p class="fs-4 mb-0 Cal_HE"></p>
                  <div class="d-flex align-items-end">
                    <p class="fs-6 mb-0">%</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-body margin-5">

          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-0 pb-2 mb-3 border-bottom">
            <h3 class="text-uppercase" style="font-weight: 700;">GCAC 1 / calibrate </h3>

          </div>

          <!-- MAIN CONTENT -->

          <table class="table fs-6">
            <thead>
              <tr>
                <th scope="col">Calibratuion name</th>
                <th scope="col">CH 1</th>
                <th scope="col">CH 2</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">BG 1</th>
                <td>
                  <div class="card">
                    <div class="card-body d-flex justify-content-between">
                      <p class="fs-4 mb-0 Cal_BG1_CH1"></p>
                      <div class="d-flex align-items-end">
                        <p class="fs-6 mb-0">Pa*m³/s</p>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="card">
                    <div class="card-body d-flex justify-content-between">
                      <p class="fs-4 mb-0 Cal_BG1_CH2"></p>
                      <div class="d-flex align-items-end">
                        <p class="fs-6 mb-0">Pa*m³/s</p>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">BG 2</th>
                <td>
                  <div class="card">
                    <div class="card-body d-flex justify-content-between">
                      <p class="fs-4 mb-0 Cal_BG2_CH1"></p>
                      <div class="d-flex align-items-end">
                        <p class="fs-6 mb-0">Pa*m³/s</p>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="card">
                    <div class="card-body d-flex justify-content-between">
                      <p class="fs-4 mb-0 Cal_BG2_CH2"></p>
                      <div class="d-flex align-items-end">
                        <p class="fs-6 mb-0">Pa*m³/s</p>
                      </div>
                    </div>
                  </div>
                </td>

              </tr>

              <tr>
                <th scope="row">SG 1</th>
                <td>
                  <div class="card">
                    <div class="card-body d-flex justify-content-between">
                      <p class="fs-4 mb-0 Cal_SG1_CH1"></p>
                      <div class="d-flex align-items-end">
                        <p class="fs-6 mb-0">Pa*m³/s</p>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="card">
                    <div class="card-body d-flex justify-content-between">
                      <p class="fs-4 mb-0 Cal_SG1_CH2"></p>
                      <div class="d-flex align-items-end">
                        <p class="fs-6 mb-0">Pa*m³/s</p>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <th scope="row">SG 2</th>
                <td>
                  <div class="card">
                    <div class="card-body d-flex justify-content-between">
                      <p class="fs-4 mb-0 Cal_SG2_CH1"></p>
                      <div class="d-flex align-items-end">
                        <p class="fs-6 mb-0">Pa*m³/s</p>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="card">
                    <div class="card-body d-flex justify-content-between">
                      <p class="fs-4 mb-0 Cal_SG2_CH2"></p>
                      <div class="d-flex align-items-end">
                        <p class="fs-6 mb-0">Pa*m³/s</p>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <th scope="row">NG Setpoint</th>
                <td>
                  <div class="card">
                    <div class="card-body d-flex justify-content-between">
                      <p class="fs-4 mb-0 Cal_NG_CH1"></p>
                      <div class="d-flex align-items-end">
                        <p class="fs-6 mb-0">Pa*m³/s</p>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="card">
                    <div class="card-body d-flex justify-content-between">
                      <p class="fs-4 mb-0 Cal_NG_CH2"></p>
                      <div class="d-flex align-items-end">
                        <p class="fs-6 mb-0">Pa*m³/s</p>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <th scope="row">S/N</th>
                <td>
                  <div class="card">
                    <div class="card-body d-flex justify-content-between">
                      <p class="fs-4 mb-0 Cal_SN_CH1"></p>
                      <div class="d-flex align-items-end">
                        <p class="fs-6 mb-0">Pa*m³/s</p>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="card">
                    <div class="card-body d-flex justify-content-between">
                      <p class="fs-4 mb-0 Cal_SN_CH2"></p>
                      <div class="d-flex align-items-end">
                        <p class="fs-6 mb-0">Pa*m³/s</p>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>

          <!-- END MAIN CONTENT -->

      </main>

      <script>
        const socket = io('https://ws.ap.ngrok.io', { transports: ['websocket'] });
        socket.on('gcac-1-all-data', (res) => {
          $(".Cal_BG1_CH1").html(res.Cal_BG1_CH1);
          $(".Cal_BG2_CH1").html(res.Cal_BG2_CH1);
          $(".Cal_SG1_CH1").html(res.Cal_SG1_CH1);
          $(".Cal_SG2_CH1").html(res.Cal_SG2_CH1);
          $(".Cal_NG_CH1").html(res.Cal_NG_CH1);
          $(".Cal_SN_CH1").html(res.Cal_SN_CH1);
          $(".Cal_BG1_CH2").html(res.Cal_BG1_CH2);
          $(".Cal_BG2_CH2").html(res.Cal_BG2_CH2);
          $(".Cal_SG1_CH2").html(res.Cal_SG1_CH2);
          $(".Cal_SG2_CH2").html(res.Cal_SG2_CH2);
          $(".Cal_NG_CH2").html(res.Cal_NG_CH2);
          $(".Cal_SN_CH2").html(res.Cal_SN_CH2);
          $(".Cal_HE").html(res.Cal_HE);
        });
      </script>