<%- include('HeliumBRS_partials/HeliumBRS_header') -%>

<%- include('../../partials/navbar_dashboard') -%>

<%- include('HeliumBRS_partials/HeliumBRS_menu') -%>

            </div>
          </li>
        </ul>

      </div>
    </nav>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">



    <div class="card card-body margin-5">

      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-0 pb-2 mb-3 border-bottom">
        <h3 class="text-uppercase" style="font-weight: 700;">HELIUM BRS / index </h3>
        
      </div>

      

  </main>