<a href="/layout/BrazingGIC1?page=vibrator" class="btn btn-dark btn-grey w-100">Vibrator RC Fan</a>
<a href="/layout/BrazingGIC1?page=temp" class="btn btn-dark btn-grey w-100">Temperature RC Fan</a>
<a href="/layout/BrazingGIC1?page=current" class="btn btn-dark btn-grey w-100">Current RC Fan</a>
<a href="/layout/BrazingGIC1?page=tempChamber" class="btn btn-dark btn-grey w-100">Temp. Chamber</a>
<a href="/layout/BrazingGIC1?page=otherSensor" class="btn btn-dark btn-grey w-100">Other Sensor</a>
<a href="/layout/BrazingGIC1?page=history" class="btn btn-dark btn-grey w-100">History</a>