</head>
<body>
<div class="container">

    <div class="row">

        <!-- Header label -->

        <div class="col-lg-12 col-md-12 col-sm-12 text-cen">
            <h1 class="fw-bold">Search history</h1>
            <p>Fill in the date,time as required</p>
            <div style="margin-bottom: 30px;"></div>
        </div>

        <!-- End Header label -->

        <!-- Content -->

        <div class="col-12 col-md-12 col-sm-12">
            <div class="card">
                <form action="/Dashboard" method="POST">
                    <div class="card-body">

                        <div class="mb-3">
                            <label for="disabledTextInput" class="form-label">From : </label>

                            <div class="input-group date" id="from">
                                <input type="text" name="fromdate" class="form-control" required />
                                <span class="input-group-text" id="basic-addon2">
                                    <i class="bi bi-calendar"></i>
                                </span>

                            </div>

                        </div>

                        <div class="mb-3">
                            <label for="disabledTextInput" class="form-label">To : </label>

                            <div class="input-group date" id="to">
                                <input type="text" name="todate" class="form-control" required />
                                <span class="input-group-text" id="basic-addon2">
                                    <i class="bi bi-calendar"></i>
                                </span>

                            </div>
                            
                        </div>

                    </div>

                    <div class="card-footer text-right">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-dark btn-grey" type="submit">Confirm</button>
                        </div>
                    </div>

                </form>
            </div>


        </div>

        <!-- End Content -->

    </div>

</div>
