<table style="table-layout: fixed;width: 100%;height: 60vh;">
    <thead>
        <tr class="tr-th-height">
            <th colspan="7">
                <div class="card bg-light bgth h-100">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </th>
            <th colspan="4">
                <div class="card bg-light bgth h-100">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </th>
            <th colspan="10">
                <div class="card bg-light bgth h-100">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </th>
            <th colspan="2">
                <div class="card bg-secondary h-100">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </th>
            <th colspan="2">
                <div class="card bg-light bgth h-100">
                    <div class="card-body d-flex align-items-center justify-content-center rotage-90">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </th>
            <th colspan="2">
                <div class="card bg-secondary h-100">
                    <div class="card-body d-flex align-items-center justify-content-center rotage-90">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </th>
            <th>
                <div class="card bg-secondary h-100">
                    <div class="card-body d-flex align-items-center justify-content-center rotage-90">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </th>
            <th>
                <div class="card bg-secondary h-100">
                    <div class="card-body d-flex align-items-center justify-content-center rotage-90">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </th>
            <th colspan="4">
                <div class="card bg-light bgth h-100">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="3" rowspan="18">
                <div class="card bg-light bgth h-100">
                    <div class="card-body d-flex align-items-center justify-content-center rotage-90">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <a href="/layout/GCAC_1?page=index">
                    <div class="card text-bg-success" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <p class="rotage-90">&nbsp;</p>
                        </div>
                    </div>
                </a>
            </td>
            <td rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <a href="/layout/WCAC?page=index">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <p class="rotage-90">&nbsp;</p>
                        </div>
                    </div>
                </a>  
            </td>
            <td rowspan="6">
                <a href="/layout/MPOC?page=index">
                    <div class="card text-bg-success" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <p class="rotage-90">&nbsp;</p>
                        </div>
                    </div>
                </a>
            </td>
            <td rowspan="6">
                <a href="/layout/HLOC?page=index">
                    <div class="card text-bg-success" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <p class="rotage-90">&nbsp;</p>
                        </div>
                    </div>
                </a>
            </td>
            <td rowspan="12">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="12">
                <a href="/layout/BrazingOIL?page=index">
                    <div class="card text-bg-success" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <p class="rotage-90">&nbsp;</p>
                        </div>
                    </div>
                </a> 
            </td>
            <td rowspan="4">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="12">
                <a href="/layout/BrazingBRS?page=index">
                    <div class="card text-bg-success" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <p class="rotage-90">&nbsp;</p>
                        </div>
                    </div>
                </a>
            </td>
            <td rowspan="8">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="8">
                <div class="card bg-light bgth" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="8">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="8">
                <a href="/layout/BrazingGIC2?page=index">
                    <div class="card text-bg-success" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <p class="rotage-90">&nbsp;</p>
                        </div>
                    </div>
                </a>
            </td>
            <td rowspan="8">
                <a href="/layout/BrazingGIC1?page=index">
                    <div class="card text-bg-success" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <p class="rotage-90">&nbsp;</p>
                        </div>
                    </div>
                </a>
            </td>
            <td rowspan="8">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <div class="card bg-light bgth" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="8">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td colspan="2">
                <a href="/layout/Injection?inj=1&name=MC01&page=index">
                    <div class="card text-bg-success" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </a>
            </td>
            <td colspan="2" rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td colspan="2" rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="/layout/Injection?inj=2&name=MC02&page=index">
                    <div class="card text-bg-success" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="/layout/Injection?inj=3&page=index">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="/layout/Injection?inj=4&page=index">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td rowspan="8">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td colspan="2">
                <a href="/layout/Injection?inj=5&name=MC05&page=index">
                    <div class="card text-bg-success" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="card bg-light bgth" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <a href="/layout/HeliumBRS?page=index">
                    <div class="card text-bg-success" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">&nbsp;</p>
                        </div>
                    </div>
                </a>
            </td>
            <td rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td colspan="2">
                <a href="/layout/Injection?inj=7&name=MC07&page=index">
                    <div class="card text-bg-success" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </a>
            </td>
            <td colspan="2" rowspan="6">
                <div class="card bg-light bgth" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td colspan="2" rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="card bg-light bgth" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td rowspan="4">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="4">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="4">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="4">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="4">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="4">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="4">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td colspan="2">
                <div class="card bg-light bgth" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="/layout/Injection?inj=10&name=MC10&page=index">
                    <div class="card text-bg-success" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="/layout/Injection?inj=11&name=MC11&page=index">
                    <div class="card text-bg-success" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="card bg-light bgth" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="5" rowspan="6">
                <div class="card bg-light bgth" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td colspan="2" rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td colspan="2" rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <a href="/layout/IF-BRS-2?page=index">
                    <div class="card text-bg-success" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">&nbsp;</p>
                        </div>
                    </div>
                </a>
            </td>
            <td rowspan="6">
                <a href="/layout/IF-BRS-3?page=index">
                    <div class="card text-bg-success" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">&nbsp;</p>
                        </div>
                    </div>
                </a>
            </td>
            <td rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <a href="/layout/IF-GIC-1?page=index">
                    <div class="card text-bg-success" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">&nbsp;</p>
                        </div>
                    </div>
                </a>
            </td>
            <td rowspan="6">
                <a href="/layout/IF-GIC-2?page=index">
                    <div class="card text-bg-success" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">&nbsp;</p>
                        </div>
                    </div>
                </a>
            </td>
            <td colspan="2" rowspan="6">
                <div class="card bg-light bgth" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td rowspan="6">
                <div class="card bg-light bgth" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td colspan="2">
                <a href="/layout/Injection?inj=13&name=MC13&page=index">
                    <div class="card text-bg-success" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </a>
            </td>
            <td colspan="2" rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td colspan="2" rowspan="6">
                <div class="card bg-secondary" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p class="rotage-90">&nbsp;</p>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="card bg-light bgth" style="width: 100%;height: 100%;">
                    <div class="card-body d-flex align-items-center justify-content-center ">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="/layout/Injection?inj=15&name=MC15&page=index">
                    <div class="card text-bg-success" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="/layout/Injection?inj=16&name=MC16&page=index">
                    <div class="card text-bg-success" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="/layout/Injection?inj=17&name=MC17&page=index">
                    <div class="card text-bg-success" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="/layout/Injection?inj=18&name=MC18&page=index">
                    <div class="card text-bg-success" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </a>
            </td>
        </tr>
    </tbody>
</table>