<!-- header color add class "bgth" in <div class="card bg-light .....===> bgth <===..... h-100"> -->

<!-- normal color just remove class "bgth" -->

<!-- rotate label 90deg add class "rotate-90" in label. "Example <p class="rotate-90">SAMRONG LAYOUT</p>"" -->

<style>
    /* table ,th,td {
        border: 1px solid;
    } */
</style>

<table style="table-layout: fixed;width: 100%;height: 60vh;">
    <!-- <tr>
        <th>

            <div class="card bg-light bgth h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>HEADER</p>
                </div>
            </div>

        </th>

    </tr>

    <tr>
        <td>

            <div class="card bg-light h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>SAMRONG LAYOUT</p>
                </div>
            </div>

        </td>
    </tr> -->
    <thead>
        <tr>
            <td rowspan="4">JMD area</td>
            <td></td>
            <td rowspan="6">Core #4</td>
            <td rowspan="6">Core #3</td>
            <td rowspan="6">Core #2</td>
            <td rowspan="6">Core #1</td>
            <td rowspan="6">Sub Assemble</td>
            <td rowspan="6">Surface Treatment #2</td>
            <td></td>
            <td colspan="2" rowspan="3">Inner #2</td>
            <td colspan="2" rowspan="3">Inner #4</td>
            <td colspan="3" rowspan="3">Welding Table</td>
            <td colspan="3" rowspan="3">Helium #1</td>
            <td colspan="2" rowspan="3">Inner #1</td>
            <td colspan="5" rowspan="6">Storage</td>
            <td></td>
            <td rowspan="6">Storage</td>
            <td colspan="2" rowspan="4">Dojo</td>
            <td rowspan="6">Storage</td>
            <td rowspan="22"></td>
            <td rowspan="2">Mold</td>
            <td rowspan="2">JMD area</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2">FIN #1</td>
            <td></td>
            <td></td>
            <td rowspan="4">Center INJ S1</td>
            <td rowspan="2">INJ 230 T #6</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2" rowspan="3">Cam #2</td>
            <td colspan="2" rowspan="3">Cam #1</td>
            <td colspan="2" rowspan="3">Helium #3</td>
            <td colspan="2" rowspan="3">Helium #4</td>
            <td colspan="2" rowspan="3">Cam #4</td>
            <td colspan="2" rowspan="3">Cam #3</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td rowspan="2">QA</td>
            <td rowspan="2">AGC</td>
            <td rowspan="2">INJ 230 T #5</td>
        </tr>
        <tr>
            <td colspan="2" rowspan="3">INJ 850 T #9</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td rowspan="6">Storage</td>
            <td>INJ 230 T #4</td>
        </tr>
        <tr>
            <td colspan="6" rowspan="4">NB Brazing #3</td>
            <td></td>
            <td colspan="12" rowspan="4">Surface Treatment #1</td>
            <td rowspan="2">Packing Heater</td>
            <td rowspan="2">Blower &amp; Cell</td>
            <td rowspan="2">Package Evap</td>
            <td rowspan="2">Shadow Line</td>
            <td rowspan="2">Rest Area</td>
            <td></td>
            <td rowspan="4">Storage</td>
            <td colspan="2" rowspan="6">New Model</td>
            <td rowspan="6">Storage</td>
            <td>INJ 230 T #3</td>
        </tr>
        <tr>
            <td colspan="2" rowspan="2">INJ 850 T #8</td>
            <td></td>
            <td></td>
            <td>INJ 230 T #2</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>INJ 230 T #1</td>
        </tr>
        <tr>
            <td colspan="2" rowspan="2">INJ 850 T #7</td>
            <td></td>
            <td colspan="5">Storage</td>
            <td></td>
            <td>INJ 180 T #2</td>
        </tr>
        <tr>
            <td colspan="2">Fin #2</td>
            <td></td>
            <td colspan="2">Core #5</td>
            <td></td>
            <td></td>
            <td colspan="4" rowspan="2">Final RS Evap</td>
            <td></td>
            <td colspan="2" rowspan="2">Helium #2</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="5" rowspan="2">Meeting area</td>
            <td></td>
            <td rowspan="2">Center</td>
            <td>INJ 180 T #1</td>
        </tr>
        <tr>
            <td colspan="2" rowspan="2">INJ 850 T #6</td>
            <td colspan="2">Fin #3</td>
            <td></td>
            <td></td>
            <td colspan="2">GOLIGA HVAC #6</td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="4">Board</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="29" rowspan="2"></td>
            <td colspan="2" rowspan="2"></td>
        </tr>
        <tr>
            <td colspan="2" rowspan="2">INJ 1300 T #5</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="4" rowspan="7">Canteen</td>
            <td rowspan="4">Motor</td>
            <td rowspan="2">INJ 180 T #1</td>
        </tr>
        <tr>
            <td colspan="2" rowspan="2">INJ 1300 T #4 </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="4" rowspan="5">Storage</td>
            <td colspan="2">HVAC #1</td>
            <td></td>
            <td colspan="17" rowspan="5">Package</td>
            <td></td>
            <td>INJ 550 T #1</td>
        </tr>
        <tr>
            <td colspan="2" rowspan="2">INJ 850 T #10</td>
            <td colspan="2">HVAC #2</td>
            <td></td>
            <td></td>
            <td>INJ 550 T #2</td>
        </tr>
        <tr>
            <td colspan="2">HVAC #3</td>
            <td></td>
            <td></td>
            <td rowspan="3">Core Heater</td>
            <td>INJ 550 T #3</td>
        </tr>
        <tr>
            <td colspan="2" rowspan="2">DTTHH</td>
            <td colspan="2">HVAC #4</td>
            <td></td>
            <td></td>
            <td>INJ 550 T #4</td>
        </tr>
        <tr>
            <td colspan="2">HVAC #5</td>
            <td></td>
            <td></td>
            <td>INJ 550 T #5</td>
        </tr>
    </thead>

</table>