<div class="max-lg:tw-overflow-x-scroll">
    <table style="width: 100%;height: 60vh;" class="lg:tw-table-fixed" >
        <thead>
            <tr class="tr-th-height">
                <th colspan="7">
                    <div class="card bg-light bgth h-100">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <p>SPACE AREA</p>
                        </div>
                    </div>
                </th>
                <th colspan="4">
                    <div class="card bg-light bgth h-100">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <p>MEF SHOP</p>
                        </div>
                    </div>
                </th>
                <th colspan="10">
                    <div class="card bg-light bgth h-100">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <p>DELIVERY</p>
                        </div>
                    </div>
                </th>
                <th colspan="2">
                    <div class="card bg-secondary h-100">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <p>ECM</p>
                        </div>
                    </div>
                </th>
                <th colspan="2">
                    <div class="card bg-light bgth h-100">
                        <div class="card-body d-flex align-items-center justify-content-center rotage-90">
                            <p>PACKING</p>
                        </div>
                    </div>
                </th>
                <th colspan="2">
                    <div class="card bg-secondary h-100">
                        <div class="card-body d-flex align-items-center justify-content-center rotage-90">
                            <p>RESERVE</p>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="card bg-secondary h-100">
                        <div class="card-body d-flex align-items-center justify-content-center rotage-90">
                            <p>HINO</p>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="card bg-secondary h-100">
                        <div class="card-body d-flex align-items-center justify-content-center rotage-90">
                            <p>BOX TYPE</p>
                        </div>
                    </div>
                </th>
                <th colspan="4">
                    <div class="card bg-light bgth h-100">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <p>SPACE AREA</p>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3" rowspan="18">
                    <div class="card bg-light bgth h-100">
                        <div class="card-body d-flex align-items-center justify-content-center rotage-90">
                            <p>MAIN OFFICE</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <a href="/layout/GCAC_1?page=index">
                        <div class="card text-bg-success" style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <p class="rotage-90">GCAC 1</p>
                            </div>
                        </div>
                    </a>
                </td>
                <td rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <p class="rotage-90">SIR</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <a href="/layout/WCAC?page=index">
                        <div class="card bg-secondary" style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <p class="rotage-90">WCAC</p>
                            </div>
                        </div>
                    </a>  
                </td>
                <td rowspan="6">
                    <a href="/layout/MPOC?page=index">
                        <div class="card text-bg-success" style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <p class="rotage-90">MPOC</p>
                            </div>
                        </div>
                    </a>
                </td>
                <td rowspan="6">
                    <a href="/layout/HLOC?page=index">
                        <div class="card text-bg-success" style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <p class="rotage-90">HLOC</p>
                            </div>
                        </div>
                    </a>
                </td>
                <td rowspan="12">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <p class="rotage-90">BRAZING INTER</p>
                        </div>
                    </div>
                </td>
                <td rowspan="12">
                    <a href="/layout/BrazingOIL?page=index">
                        <div class="card text-bg-success" style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <p class="rotage-90">BRAZING OIL</p>
                            </div>
                        </div>
                    </a> 
                </td>
                <td rowspan="4">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <p class="rotage-90">HELIUMRS</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <p class="rotage-90">SURFACE BRS</p>
                        </div>
                    </div>
                </td>
                <td rowspan="12">
                    <a href="/layout/BrazingBRS?page=index">
                        <div class="card text-bg-success" style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <p class="rotage-90">BRAZING BRS</p>
                            </div>
                        </div>
                    </a>
                </td>
                <td rowspan="8">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <p class="rotage-90">CORE BRS 6</p>
                        </div>
                    </div>
                </td>
                <td rowspan="8">
                    <div class="card bg-light bgth" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <p class="rotage-90">&nbsp;</p>
                        </div>
                    </div>
                </td>
                <td rowspan="8">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <p class="rotage-90">GIC 3</p>
                        </div>
                    </div>
                </td>
                <td rowspan="8">
                    <a href="/layout/BrazingGIC2?page=index">
                        <div class="card text-bg-success" style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <p class="rotage-90">BRAZING GIC 2</p>
                            </div>
                        </div>
                    </a>
                </td>
                <td rowspan="8">
                    <a href="/layout/BrazingGIC1?page=index">
                        <div class="card text-bg-success" style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <p class="rotage-90">BRAZING GIC 1</p>
                            </div>
                        </div>
                    </a>
                </td>
                <td rowspan="8">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <p class="rotage-90">BRAZING GSR 1</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">ASSY GSR 1</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">ASSY GSR 2</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">GIC 1</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">RADIATOR CENTOR</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">ASSY GSR 4</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">ASSY GSR 5</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <div class="card bg-light bgth" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">&nbsp;</p>
                        </div>
                    </div>
                </td>
                <td rowspan="8">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">BRAZING GSR 2</p>
                        </div>
                    </div>
                </td>
                <td colspan="2">
                    <a href="/layout/Injection?inj=1&name=MC01&page=index">
                        <div class="card text-bg-success" style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center ">
                                <p>Inj.#1</p>
                            </div>
                        </div>
                    </a>
                </td>
                <td colspan="2" rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">PRESS300T GIC</p>
                        </div>
                    </div>
                </td>
                <td colspan="2" rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">PRESS300T BSR</p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="/layout/Injection?inj=2&name=MC02&page=index">
                        <div class="card text-bg-success" style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center ">
                                <p>Inj.#2</p>
                            </div>
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="/layout/Injection?inj=3&page=index">
                        <div class="card bg-secondary" style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center ">
                                <p>Inj.#3</p>
                            </div>
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="/layout/Injection?inj=4&page=index">
                        <div class="card bg-secondary" style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center ">
                                <p>Inj.#4</p>
                            </div>
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td rowspan="8">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">BRAZING RS</p>
                        </div>
                    </div>
                </td>
                <td colspan="2">
                    <a href="/layout/Injection?inj=5&name=MC05&page=index">
                        <div class="card text-bg-success" style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center ">
                                <p>Inj.#5</p>
                            </div>
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="card bg-light bgth" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <p class="rotage-90">O/F SIR</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">I/F SIR</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">I/F OF GAGC</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">WASHING SIR</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">FLUX INTER</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <a href="/layout/HeliumBRS?page=index">
                        <div class="card text-bg-success" style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center ">
                                <p class="rotage-90">HELIUM BRS</p>
                            </div>
                        </div>
                    </a>
                </td>
                <td rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">CORE GSR 1</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">CORE GSR 2</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">CORE GSR 3</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">CORE GSR 4</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">CORE GSR 6</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">CORE GSR 7</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">ASSY STEP 4</p>
                        </div>
                    </div>
                </td>
                <td colspan="2">
                    <a href="/layout/Injection?inj=7&name=MC07&page=index">
                        <div class="card text-bg-success" style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center ">
                                <p>Inj.#7</p>
                            </div>
                        </div>
                    </a>
                </td>
                <td colspan="2" rowspan="6">
                    <div class="card bg-light bgth" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">DIE MAINT</p>
                        </div>
                    </div>
                </td>
                <td colspan="2" rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">PRESS500T</p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="card bg-light bgth" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td rowspan="4">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">O/F BRS</p>
                        </div>
                    </div>
                </td>
                <td rowspan="4">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">FIN GIC</p>
                        </div>
                    </div>
                </td>
                <td rowspan="4">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">HELIUM GIC 1</p>
                        </div>
                    </div>
                </td>
                <td rowspan="4">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">HELIUM GIC 2</p>
                        </div>
                    </div>
                </td>
                <td rowspan="4">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">HELIUM GIC 4</p>
                        </div>
                    </div>
                </td>
                <td rowspan="4">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">FLUX GSR 1</p>
                        </div>
                    </div>
                </td>
                <td rowspan="4">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">FLUX GSR 2,3</p>
                        </div>
                    </div>
                </td>
                <td colspan="2">
                    <div class="card bg-light bgth" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="/layout/Injection?inj=10&name=MC10&page=index">
                        <div class="card text-bg-success" style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center ">
                                <p>Inj.#10</p>
                            </div>
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="/layout/Injection?inj=11&name=MC11&page=index">
                        <div class="card text-bg-success" style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center ">
                                <p>Inj.#11</p>
                            </div>
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="card bg-light bgth" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="5" rowspan="6">
                    <div class="card bg-light bgth" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <p class="rotage-90">SPACE AREA</p>
                        </div>
                    </div>
                </td>
                <td colspan="2" rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">COND MF4</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">CORE RS</p>
                        </div>
                    </div>
                </td>
                <td colspan="2" rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">PLASMA BRS</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <a href="/layout/IF-BRS-2?page=index">
                        <div class="card text-bg-success" style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center ">
                                <p class="rotage-90">I/F BRS 2</p>
                            </div>
                        </div>
                    </a>
                </td>
                <td rowspan="6">
                    <a href="/layout/IF-BRS-3?page=index">
                        <div class="card text-bg-success" style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center ">
                                <p class="rotage-90">I/F BRS 3</p>
                            </div>
                        </div>
                    </a>
                </td>
                <td rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">PLASMA GIC</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <a href="/layout/IF-GIC-1?page=index">
                        <div class="card text-bg-success" style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center ">
                                <p class="rotage-90">I/F GIC 1</p>
                            </div>
                        </div>
                    </a>
                </td>
                <td rowspan="6">
                    <a href="/layout/IF-GIC-2?page=index">
                        <div class="card text-bg-success" style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center ">
                                <p class="rotage-90">I/F GIC 2</p>
                            </div>
                        </div>
                    </a>
                </td>
                <td colspan="2" rowspan="6">
                    <div class="card bg-light bgth" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">RECEIVING</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">TUBE 27D</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">CORE STEP 4</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">TUBE 11.5</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">INSERT</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">WASHING</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">TUBE 16D</p>
                        </div>
                    </div>
                </td>
                <td rowspan="6">
                    <div class="card bg-light bgth" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">SPACE AREA</p>
                        </div>
                    </div>
                </td>
                <td colspan="2">
                    <a href="/layout/Injection?inj=13&name=MC13&page=index">
                        <div class="card text-bg-success" style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center ">
                                <p>Inj.#13</p>
                            </div>
                        </div>
                    </a>
                </td>
                <td colspan="2" rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">PRESS200T</p>
                        </div>
                    </div>
                </td>
                <td colspan="2" rowspan="6">
                    <div class="card bg-secondary" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p class="rotage-90">PRESS300T GRS</p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="card bg-light bgth" style="width: 100%;height: 100%;">
                        <div class="card-body d-flex align-items-center justify-content-center ">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="/layout/Injection?inj=15&name=MC15&page=index">
                        <div class="card text-bg-success" style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center ">
                                <p>Inj.#15</p>
                            </div>
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="/layout/Injection?inj=16&name=MC16&page=index">
                        <div class="card text-bg-success" style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center ">
                                <p>Inj.#16</p>
                            </div>
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="/layout/Injection?inj=17&name=MC17&page=index">
                        <div class="card text-bg-success" style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center ">
                                <p>Inj.#17</p>
                            </div>
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="/layout/Injection?inj=18&name=MC18&page=index">
                        <div class="card text-bg-success" style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center ">
                                <p>Inj.#18</p>
                            </div>
                        </div>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
