<!-- header color add class "bgth" in <div class="card bg-light .....===> bgth <===..... h-100"> -->

<!-- normal color just remove class "bgth" -->

<!-- rotate label 90deg add class "rotate-90" in label. "Example <p class="rotate-90">SAMRONG LAYOUT</p>"" -->

<table style="table-layout: fixed;width: 100%;height: 60vh;border: 0px solid;">
    <tr>
        <th>

            <div class="card bg-light bgth h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>HEADER</p>
                </div>
            </div>

        </th>

    </tr>

    <tr>
        <td>

            <div class="card bg-light h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>SAMRONG LAYOUT</p>
                </div>
            </div>

        </td>
    </tr>

</table>