<style>
    html,
    body {
        height: 100vh;
    }

    nav {
        margin-bottom: 0;
    }

    table,
    th,
    td {
        border: 1px solid;
    }

    .card-body {
        padding: 0.3rem;
    }

    .card-title {
        margin: 0;
    }

    @media screen and (max-width: 575.98px) {
        p {
            /* font-size: 0.45rem; */
            margin: 0;
        }

        .btn-grey {
            font-size: 0.6rem
        }

        .tr-th-height {
            height: 5.5rem;
        }
    }


    @media screen and (min-width: 575.98px) {
        p {
            /* font-size: 0.45rem; */
            margin: 0;
        }

        .btn-grey {
            font-size: 0.6rem
        }

        .tr-th-height {
            height: 5.5rem;
        }
    }

    @media screen and (min-width: 767.98px) {
        p {
            /* font-size: 0.45rem; */
            margin: 0;
        }

        .btn-grey {
            font-size: 0.8rem
        }

        .tr-th-height {
            height: 5.5rem;
        }
    }


    @media screen and (min-width: 991.98px) {
        p {
            /* font-size: 0.45rem; */
            margin: 0;
        }

        .btn-grey {
            font-size: 1rem
        }

        .tr-th-height {
            height: 5.5rem;
        }
    }

    @media screen and (min-width: 1199.98px) {
        p {
            font-size: 0.8rem;
            margin: 0;
        }

        .btn-grey {
            font-size: 1rem
        }

        .tr-th-height {
            height: 5.5rem;
        }
    }

    @media screen and (min-height: 1080.98px) {
        p {
            font-size: 1rem !important;
            margin: 0;
        }

        .btn-grey {
            font-size: 1rem
        }

        .tr-th-height {
            height: 6.5rem;
        }
    }


    table,
    th,
    td {
        border: 0px solid;
    }

    .bg-light {
        --bs-bg-opacity: 0;
    }

    .bgth {
        background-color: var(--bs-tertiary-bg) !important;
        font-weight: bold;
    }

    .btn-grey {

        background-color: var(--bs-border-color-translucent);

    }

    .btn-grey:hover {
        background-color: var(--bs-btn-hover-border-color);
        border-color: #ADB5BD;
    }

    .btn-grey:focus {
        color: #fff;
        background-color: #CC2229;
        border-color: var(--bs-btn-hover-border-color);
    }

    .btn-grey:active {
        color: #fff;
        background-color: #CC2229;
    }

    table,
    th,
    td {
        /* border: 0px solid rgb(255, 255, 255);
      border-collapse: collapse; */
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    td,
    th {
        padding: 0.15rem;
    }

    .rotage-90 {
        transform: rotate(-90deg);
    }

    .text-bg-success {
        background-color: var(--color-normal-a8)!important;
    }
</style>
</head>

<body>

    <div class="container-fluid" style="height: 92.4vh;">

    
        <div class="row ms-2 me-2" style="margin-top: 0.2%;">

            <div class="col-xxl-1 col-lg-12 col-md-12 col-sm-12 d-flex align-items-center justify-content-center"
                style="padding: 0;">
                <img src="../images/map.png" alt="" height="70%">
            </div>

            <div class="col-xxl-8 col-lg-12 col-md-12 col-sm-12 tw-text-4xl max-lg:tw-text-center"
                style="margin-top:1rem;margin-bottom:1rem;padding: 0;">
                <h1 class="fw-bold layout-header">
                    Machine Performance WGR. Plant
                </h1>
            </div>


            <div class="col-xxl-3 col-lg-12 col-md-12 col-sm-12 text-cen mt-2 mb-2 pe-2" style="padding: 0;">
                <div class="card h-100 w-100">
                    <div class="card-body tw-flex max-md:tw-block tw-py-3 tw-justify-center">
                        <div class="tw-flex tw-justify-center max-md:tw-my-3">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                class="bi-square-fill tw-w-8 tw-h-8" viewBox="0 0 16 16">
                                <path style="fill:#98D659;"
                                    d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z"></path>
                            </svg>
                            <span class="ps-3 pe-3 md:tw-text-base">Normal</span>
                        </div>

                        <div class="tw-flex tw-justify-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                class="bi-square-fill tw-w-8 tw-h-8" viewBox="0 0 16 16">
                                <path style="fill:#ffe000;"
                                    d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z"></path>
                            </svg>
                            <span class="pe-3 ps-3 md:tw-text-base">Warning</span>
                        </div>

                        <div class="tw-flex tw-justify-center max-md:tw-my-3">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                class="bi-square-fill tw-w-8 tw-h-8" viewBox="0 0 16 16">
                                <path style="fill:#f00000;"
                                    d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z"></path>
                            </svg>
                            <span class="ps-3 md:tw-text-base">Abnormal</span>
                        </div>


                    </div>
                </div>

            </div>

            <!-- <div class="col-1" style="padding: 0;"></div> -->
            <div class="tw-flex tw-flex-nowrap">

                <div class="max-lg:tw-flex-1 max-lg:tw-w-5/6" style="padding: 0;">
                    <!-- 87.401610937vh -->
                    <div id="wellgrow">
                        <%- include('layout_wellgrow')  %> 
                    </div>
                    <div id="samrong" >
                        <%- include('layout_samrong')  %> 
                    </div>
                    
                </div>
    
                <div class="lg:tw-flex-none lg:tw-w-1/6 max-lg:tw-hidden" style="padding-left: 0.3rem;padding-right: 0.3rem;">
                    
                    <div class="tw-h-full">
                        <button class="btn btn-dark btn-grey tw-w-full fs-3 fw-bold" type="submit"
                            style="height: calc(100% / 6);background-image: url(../../images/layout_buttons/home.png);background-repeat: no-repeat;background-size: cover;">HOME</button>
                        <button class="btn btn-dark btn-grey tw-w-full  fs-3 fw-bold" type="submit"
                            style="height: calc(100% / 6);background-image: url(../../images/layout_buttons/cmms.png);background-repeat: no-repeat;background-size: cover;">CMMS</button>
                        <button class="btn btn-dark btn-grey tw-w-full  fs-3 fw-bold" type="submit"
                            style="height: calc(100% / 6);background-image: url(../../images/layout_buttons/cbm.png);background-repeat: no-repeat;background-size: cover;">CBM</button>
                        <button class="btn btn-dark btn-grey tw-w-full   fs-3 fw-bold" type="submit"
                            style="height: calc(100% / 6);background-image: url(../../images/layout_buttons/energy.png);background-repeat: no-repeat;background-size: cover;">ENERGY</button>
                        <button class="btn btn-dark btn-grey tw-w-full  fs-3 fw-bold" type="submit"
                            style="height: calc(100% / 6);background-image: url(../../images/layout_buttons/support.png);background-repeat: no-repeat;background-size: cover;">SUPPORT</button>
                        <button class="btn btn-dark btn-grey tw-w-full  fs-3 fw-bold" type="submit" style="height: calc(100% / 6);background-image: url(../../images/layout_buttons/last.png);background-repeat: no-repeat;background-size: cover;">-</button>
                    </div>
    
                </div>

            </div>
            


        </div> <!-- Main Row -->
        <div class="row ms-2 me-2 pe-1" style="height: var(--bottom-label-layout);">
            <div class="col" style="margin-top: 0.5rem;padding: 0;">
                <div class="card h-100">
                    <div class="card-body d-flex align-items-center">
                        <h1 class="w-100 tw-text-4xl" style="color: var(--color-normal);font-weight: 700;">
                            <marquee behavior="" direction="">Normal</marquee>
                        </h1>

                        <!-- <marquee behavior="" direction="">test</marquee> -->
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- Main Container -->

    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        $('#wellgrow').css({'display' : 'block'});
        $('#samrong').css({'display' : 'none'});
        $("#flexSwitchCheckDefault").change(function(){
              if($(this).prop("checked") == true){
                $('#samrong').css({'display' : 'block'});
                $('#wellgrow').css({'display' : 'none'});
                $(".layout-header").html('Machine Performance SRG. Plant');
              }else{
                $('#samrong').css({'display' : 'none'});
                $('#wellgrow').css({'display' : 'block'});
                $(".layout-header").html('Machine Performance WGR. Plant');
                
              }
          });
    </script>
    <script>

        $(document).ready(function () {
            $(window).on('resize', function () {
                if (screen.width === window.innerWidth) {
                    $('#buttongic3').show();
                } else {
                    $('#buttongic3').hide();
                }
            });
        });

    </script>