<style>

html, body {
    height: 100vh;
}
    nav {
        margin-bottom: 0;
    }
    table, th, td {
        border: 1px solid;
    }
    .card-body {
        padding: 0.5rem;
    }

    .card-title {
        margin: 0;
    }

    

    @media (min-width: 1199.98px) {
        p {
            font-size: 0.8rem;
            margin: 0;
        }
    }

    @media screen and (min-height: 1080.98px) { 
        p {
            font-size: 1.2rem!important;
            margin: 0;
        }
     }

    
    table, th, td {
        border: 0px solid;
    }

    .bg-light {
        --bs-bg-opacity: 0;
    }

     .bgth{
        background-color: var(--bs-tertiary-bg)!important;
     }

     .btn-grey {
  
  background-color: var(--bs-border-color-translucent); 
  
}  

.btn-grey:hover {
  background-color: var(--bs-btn-hover-border-color);
  border-color: #ADB5BD;
}

.btn-grey:focus {
  color: #fff;
  background-color: #CC2229;
  border-color: var(--bs-btn-hover-border-color);
}

.btn-grey:active {
  color: #fff;
  background-color: #CC2229;
}
</style>
</head>
<body>
<div class="container" style="height: 92.5vh;">

    <div class="row" style="margin-top: 0.2%;">
  
        <!-- title 
  

        <div class="col-12" style="margin-top: 0.2%;margin-bottom: 0.2%;padding: 0;">
            <h4 class="font-weight-bold text-center">Machine Layout Denso (Thailand) wellgrow plant</h4>
        </div>
  
  
         title -->
  
  
        <!-- body -->

        <!-- <table style="table-layout: fixed;width: 100%;height: 100%;margin-top: 0.2%;"> -->
        <div class="col-10" style="padding: 0;">
            <!-- <table style="table-layout: fixed;" class="vh-100 vw-100"> -->
            <table style="table-layout: fixed;width: 100%;height: 100%;">
                <thead>
                  <tr>
                    <th>
                        <div class="card bg-light bgth h-100">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <p style="transform: rotate(-90deg);">Lobby</p>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="card bg-light bgth h-100">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <p style="transform: rotate(-90deg);">OBEEYA</p>
                            </div>
                        </div>
                    </th>
    
                    <th colspan="3">
    
                        <div class="card bg-light bgth h-100">
                            <div class="card-body d-flex align-items-center justify-content-center">
                              <p>QA Lab</p>
                            </div>
                        </div>
    
                    </th>
                    <th colspan="3">
                        <div class="card bg-light bgth h-100">
                            <div class="card-body d-flex align-items-center justify-content-center">
                              <p>TIE</p>
                            </div>
                        </div>
                    </th>
                    <th colspan="9">
                        <div class="card bg-light bgth h-100" >
                            <div class="card-body d-flex align-items-center justify-content-center">
                              <p>Delivery</p>
                            </div>
                        </div>
                    </th>
                    <th colspan="4">
                        <div class="card bg-light bgth h-100">
                            <div class="card-body d-flex align-items-center justify-content-center">
                              <p>Delivary Office</p>
                            </div>
                        </div>
                    </th>
                    <th colspan="4">
                        <div class="card bg-light bgth h-100">
                            <div class="card-body d-flex align-items-center justify-content-center">
                              <p>ECM</p>
                            </div>
                        </div>
                    </th>
                    <th colspan="3">
                        <div class="card bg-light bgth h-100">
                            <div class="card-body d-flex align-items-center justify-content-center">
                              <p>Package</p>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="card bg-light bgth h-100">
                            <div class="card-body d-flex align-items-center justify-content-center">
                              <p style="transform: rotate(-90deg); " class="text-truncate">Press sus oil</p>
                            </div>
                        </div>
                    </th>
                    <th style="height: 100px;">
                        <div class="card bg-light bgth h-50">
                            <div class="card-body d-flex align-items-center justify-content-center">
                              <p style="transform: rotate(-90deg); " class="text-truncate">GSR</p>
                            </div>
                        </div>
    
                        <div class="card bg-light bgth h-50" >
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate">Cont</p>
                            </div>
                        </div>
    
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td rowspan="11">
                        <div class="card bg-light bgth"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <p style="transform: rotate(-90deg);font-weight: bold">MainOffice</p>
                            </div>
                          </div>
                    </td>
                    <td rowspan="8">
                            <div class="card bg-light"  style="width: 100%;height: 100%;">
                                <div class="card-body d-flex align-items-center justify-content-center">
                                    <p style="transform: rotate(-90deg);">GCAC</p>
                                </div>
                          </div>
                    </td>
                    <td rowspan="8">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <p style="transform: rotate(-90deg);">SIR</p>
                            </div>
                          </div>
                    </td>
                    <td rowspan="8">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate" style="transform: rotate(-90deg); ">WCAC</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="8">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate" style="transform: rotate(-90deg); ">MPOC</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="8">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate" style="transform: rotate(-90deg); ">HLOC</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="13">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate" style="transform: rotate(-90deg); ">Brazing Inter</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="13">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate" style="transform: rotate(-90deg); ">Brazing oil</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="3">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate" style="transform: rotate(-90deg); ">He RS</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="9">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate" style="transform: rotate(-90deg); ">Surface BRS</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="13">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate" style="transform: rotate(-90deg); ">Brazing BRS</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="9">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">GIC#2</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="9">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">GIC#1</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="9">
                            <div class="card bg-light"  style="width: 100%;height: 100%;">
                                <div class="card-body d-flex align-items-center justify-content-center"> <!-- style="background: linear-gradient(139deg, rgba(128,255,125,1) 0%, rgba(108,230,35,1) 100%);"-->
                                <p style="transform: rotate(-90deg); ">GIC#3</p>
                                </div>
                            </div>
                    </td>
                    <td rowspan="9">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">BrazingGIC#3</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="9">

                        <a href="/layout/BrazingGIC1">
                            <div class="card bg-light"  style="width: 100%;height: 100%;">
                                <div class="card-body d-flex align-items-center justify-content-center" >
                                  <p style="transform: rotate(-90deg); ">BrazingGIC#1</p>
                                </div>
                            </div>
                        </a>
                        
                    </td>
                    <td rowspan="9">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">BrazingGIC#1</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="8">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">AssyGSR#1</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="4">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate" style="transform: rotate(-90deg); ">Brush ba</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="8">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">AssyGSR#2</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="4">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">Training</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="8">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">AssyGSR#4</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="4">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate" style="transform: rotate(-90deg); ">Fanassembly</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="8">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">AssyGSR##5</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="8">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">AssyGSR##6</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="9">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">BrazingGSR#2</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="9">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">Stock</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate">Inj.#1</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="3">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">Flux</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="3">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">Flux</p>
                            </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="card bg-light"  style="width: 100%">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate">Inj.#2</p>
                            </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="card bg-light"  style="width: 100%">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate">Inj.#3</p>
                            </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td rowspan="10">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate" style="transform: rotate(-90deg); ">Brazing RS</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card bg-light"  style="width: 100%">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate">Inj.#4</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="2">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">Degr</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="2">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">Degr</p>
                            </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td rowspan="4">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); "></p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="4">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">Center</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="4">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">ASAKAI</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card bg-light"  style="width: 100%">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate">Inj.#5</p>
                            </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="card bg-light"  style="width: 100%">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate">Inj.#6</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="4">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">PressGIC</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="4">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">PressRS</p>
                            </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="card bg-light" style="width: 100%">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate">Inj.#7</p>
                            </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="card bg-light"  style="width: 100%">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate">Inj.#8</p>
                            </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td rowspan="4">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <p class="text-truncate" style="transform: rotate(-90deg);">I/F O/F WACA</p>
                            </div>
                          </div>
                    </td>
                    <td rowspan="4">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate" style="transform: rotate(-90deg); ">I/F O/F SIR</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="4">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate" style="transform: rotate(-90deg); ">Brazing oil</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="4">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate" style="transform: rotate(-90deg); ">Washing SI...</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="5">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate" style="transform: rotate(-90deg); ">Flux Inter</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="5">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">FluxGSR#1</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="5">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">CoreGSR#2</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="5">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">CoreGSR#3</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="5">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">CoreGSR#4</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="5">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">CoreGSR#5</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="5">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">CoreGSR#6</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="5">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">CoreGSR#7</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="5">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">InsertFaming</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card bg-light"  style="width: 100%">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate">Inj.#9</p>
                            </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td rowspan="4">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate" style="transform: rotate(-90deg); ">He BRS</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="3">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate" style="transform: rotate(-90deg); ">Fin BRS</p>
                            </div>
                        </div>
                    </td>
                    <td colspan="2" rowspan="3">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">FinGIC</p>
                            </div>
                        </div>
                    </td>
                    <td colspan="2" rowspan="4">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p>HeGIC#1-4</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="4">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">FluxGSR#1</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="4">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">FluxGSR#1-2</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="4" style="width: 40px;">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="" style="transform: rotate(-90deg); ">OilAssamber</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card bg-light"  style="width: 100%">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate">Inj.#10</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="5">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">DieMainternance</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="5">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">PressOil</p>
                            </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="card bg-light"  style="width: 100%">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate">Inj.#11</p>
                            </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td rowspan="7">
                        <div class="card bg-light bgth"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <p style="transform: rotate(-90deg);font-weight: bold;">SpaceArea</p>
                            </div>
                          </div>
                    </td>
                    <td>
                        <div class="card bg-light"  style="width: 100%">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate">Inj.#12</p>
                            </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="4">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate">Center</p>
                            </div>
                        </div>
                    </td>
                    <td colspan="3">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p>Center</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card bg-light"  style="width: 100%">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate">Inj.#13</p>
                            </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td rowspan="3">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <p class="text-truncate" style="transform: rotate(-90deg);">Inter Hino</p>
                            </div>
                          </div>
                    </td>
                    <td rowspan="3">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate" style="transform: rotate(-90deg); ">Box Type</p>
                            </div>
                        </div>
                    </td>
                    <td colspan="2" rowspan="3">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate">Reserv tank</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="5">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate" style="transform: rotate(-90deg); ">Stock</p>
                            </div>
                        </div>
                    </td>
                    <td colspan="2" rowspan="5">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate" style="transform: rotate(-90deg); ">MF4 cond.</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="5">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate" style="transform: rotate(-90deg); ">Core RS</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="5">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate" style="transform: rotate(-90deg); ">Plsma BRS</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="5">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate" style="transform: rotate(-90deg); ">I/F Tube BSR#1-2</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="5">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate" style="transform: rotate(-90deg); ">Modulator</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="5">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate" style="transform: rotate(-90deg); ">I/F Tube</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="5">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">PlasmaGIC</p>
                            </div>
                        </div>
                    </td>
                    <td colspan="2" rowspan="5">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p  class="text-truncate" style="transform: rotate(-90deg); ">I/F Tube GIC#1-2</p>
                            </div>
                        </div>
                    </td>
                    <td colspan="2" rowspan="2">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p>Flux GSR#4</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="2">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">LAB</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="5">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">Tube 27D#2</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="5">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate" style="transform: rotate(-90deg); ">ore Rad. Step4</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="5">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); "></p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="5">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">Tube11.5D</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="5">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">Hino 4.5</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="5">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">WashingGSR</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="5">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">Tube16D#1-2</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="5" style="width: 40px;">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="" style="transform: rotate(-90deg); ">Center</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card bg-light" style="width: 100%">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate">Inj.#14</p>
                            </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="card bg-light"  style="width: 100%">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate">Inj.#15</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="4">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">Stock</p>
                            </div>
                        </div>
                    </td>
                    <td rowspan="4">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p style="transform: rotate(-90deg); ">PressGSR</p>
                            </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3" rowspan="3">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p>Receiving</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card bg-light"  style="width: 100%">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate">Inj.#16</p>
                            </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <p class="text-truncate" style="transform: rotate(-90deg);">VB</p>
                            </div>
                          </div>
                    </td>
                    <td colspan="3">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate">Component pa...</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card bg-light"  style="width: 100%">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate">Inj.#17</p>
                            </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="4">
                        <div class="card bg-light"  style="width: 100%;height: 100%;">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate">Stock</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card bg-light"  style="width: 100%">
                            <div class="card-body d-flex align-items-center justify-content-center" >
                              <p class="text-truncate">Inj.#18</p>
                            </div>
                        </div>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>

        <div class="col-2">
            <div class="h-100">
                <button class="btn btn-dark btn-grey w-100" type="submit" style="height: calc(100% / 6);">HOME</button>
                <button class="btn btn-dark btn-grey w-100" type="submit" style="height: calc(100% / 6);">CMMS</button>
                <button class="btn btn-dark btn-grey w-100" type="submit" style="height: calc(100% / 6);">CBM</button>
                <button class="btn btn-dark btn-grey w-100" type="submit" style="height: calc(100% / 6);">ENERGY</button>
                <button class="btn btn-dark btn-grey w-100" type="submit" style="height: calc(100% / 6);">SUPPORT</button>
                <button class="btn btn-dark btn-grey w-100" type="submit" style="height: calc(100% / 6);">-</button>
            </div>
            
        </div>
        

        <!--
             <img src="/images/map.png" alt=""/>

        <a href="/lines?id=6261e1d310c4a0645880cb4e&pname=Condencer&lname=GIC%203">
            <div id="buttongic3" style=" border-radius: 10%;width: 45px;height: 190px;border: 0px solid;position: absolute;left: 920px;bottom: 585px;"></div>
        </a>

        -->
       
        
  
        <!-- body -->
  
    </div> <!-- Main Row -->
    <div class="row">
        <div class="col" style="padding:0.3rem;">
            <div class="card">
                <div class="card-body">
                    <p><marquee behavior="" direction="">test</marquee></p>
                    
                </div>
            </div>
        </div>
    </div>
  
  </div> <!-- Main Container -->

  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script>

      $(document).ready(function() {
  $(window).on('resize', function(){
    if(screen.width === window.innerWidth){
        $('#buttongic3').show();
      } else {
            $('#buttongic3').hide();
      }
  });
});

  </script>
  
  
  