<!-- header color add class "bgth" in <div class="card bg-light .....===> bgth <===..... h-100"> -->

<!-- normal color just remove class "bgth" -->

<!-- rotate label 90deg add class "rotate-90" in label. "Example <p class="rotate-90">SAMRONG LAYOUT</p>"" -->

<style>
    /* table ,th,td {
        border: 1px solid;
    } */

    .walk-bg {
        background: repeating-linear-gradient(
            45deg,
            #2B3035,
            #2B3035 10px,
            #212529 10px,
            #212529 20px
          );
    }
</style>

<table style="table-layout: fixed;width: 100%;height: 73.75vh;">
    <!-- <tr>
        <th>

            <div class="card bg-light bgth h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>HEADER</p>
                </div>
            </div>

        </th>

    </tr>

    <tr>
        <td>

            <div class="card bg-light h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>SAMRONG LAYOUT</p>
                </div>
            </div>

        </td>
    </tr> -->
    <thead>
        <tr>
          <td colspan="2" rowspan="2">
            <div class="card bg-light bgth h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>JMD AREA</p>
                </div>
            </div>
          </td>
          <td colspan="2">
            <div class="h-100">
                &nbsp;
            </div>
          <td rowspan="4">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="rotage-90">CORE 4</p>
                </div>
            </div>
          </td>
          <td rowspan="4">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="rotage-90">CORE 3</p>
                </div>
            </div>
          </td>
          <td rowspan="4">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="rotage-90">CORE 2</p>
                </div>
            </div>
          </td>
          <td rowspan="4">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="rotage-90">CORE 1</p>
                </div>
            </div>
          </td>
          <td rowspan="4">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="rotage-90">SUB ASSEMBLE</p>
                </div>
            </div>
          </td>
          <td colspan="5" rowspan="4">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>SURFACE TREATMENT 2</p>
                </div>
            </div>
          </td>
          <td rowspan="2">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="rotage-90">INNER 2</p>
                </div>
            </div>
          </td>
          <td rowspan="2">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="rotage-90">INNER 4</p>
                </div>
            </div>
          </td>
          <td colspan="2" rowspan="2">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="text-truncate">WELDING TABLE</p>
                </div>
            </div>
          </td>
          <td colspan="2" rowspan="2">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="rotage-90">HELIUM 1</p>
                </div>
            </div>
          </td>
          <td rowspan="2">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="rotage-90">INNER 1</p>
                </div>
            </div>
          </td>
          <td colspan="5" rowspan="4">
            <div class="card bg-light bgth h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>STORAGE</p>
                </div>
            </div>
          </td>
          <td rowspan="4"></td>
          <td colspan="3" rowspan="4">
            <div class="card bg-light bgth h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p >STORAGE</p>
                </div>
            </div>
          </td>
          <td colspan="2" rowspan="3">
            <div class="card bg-light bgth h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>DOJO</p>
                </div>
            </div>
          </td>
          <td rowspan="4">
            <div class="card bg-light bgth h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="rotage-90">STORAGE</p>
                </div>
            </div>
          </td>
          <td rowspan="18" class="walk-bg"></td>
          <td rowspan="2">
            <div class="card bg-light bgth h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="rotage-90">MOLD</p>
                </div>
            </div>
          </td>
          <td colspan="4" rowspan="2">
            <div class="card bg-light bgth h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>JMD AREA</p>
                </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>FIN 1</p>
                </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="4" rowspan="2">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>INJ 850 T 9</p>
                </div>
            </div>
          </td>
          <td rowspan="2">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="rotage-90">CAM 2</p>
                </div>
            </div>
          </td>
          <td rowspan="2">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="rotage-90">CAM 1</p>
                </div>
            </div>
          </td>
          <td rowspan="2">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="rotage-90">HELIUM 3</p>
                </div>
            </div>
          </td>
          <td colspan="2" rowspan="2">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="rotage-90">HELIUM 4</p>
                </div>
            </div>
          </td>
          <td rowspan="2">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="rotage-90">CAM 4</p>
                </div>
            </div>
          </td>
          <td rowspan="2">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="rotage-90">CAM 3</p>
                </div>
            </div>
          </td>
          <td rowspan="2">
            <div class="card bg-light bgth h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="rotage-90 text-truncate">CENTER INJ S1</p>
                </div>
            </div>
          </td>
          <td colspan="4">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>INJ 230 T 6</p>
                </div>
            </div>
          </td>
        </tr>
        <tr>
            <td>
                <div class="card bg-light bgth h-100">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <p>QA</p>
                    </div>
            </td>
          <td>
            <div class="card bg-light bgth h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>AGC</p>
                </div>
            </div>
            

          </td>
          <td colspan="4">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>INJ 230 T 5</p>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="4" rowspan="2">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>INJ 850 T 8</p>
                </div>
            </div>
          </td>
          <td colspan="29"></td>
          <td rowspan="6">
            <div class="card bg-light bgth h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="rotage-90">STORAGE</p>
                </div>
            </div>
          </td>
          <td colspan="4">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>INJ 230 T 4</p>
                </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="10" rowspan="4">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>NB BRAZING 3</p>
                </div>
            </div>
          </td>
          <td colspan="7" rowspan="4">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>SURFACE TREATMENT 1</p>
                </div>
            </div>
          </td>
          <td rowspan="3">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="rotage-90">PACKING HEATER</p>
                </div>
            </div>
          </td>
          <td rowspan="3">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="rotage-90">BLOWER & CELL</p>
                </div>
            </div>
          </td>
          <td rowspan="3">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="rotage-90">PACKAGE EVAP</p>
                </div>
            </div>
          </td>
          <td rowspan="3">
            <div class="card bg-light bgth h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="rotage-90">SHADOW LINE</p>
                </div>
            </div>
          </td>
          <td rowspan="3">
            <div class="card bg-light bgth h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="rotage-90">REST AREA</p>
                </div>
            </div>
          </td>
          <td rowspan="6"></td>
          <td colspan="3" rowspan="4">
            <div class="card bg-light bgth h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>STORAGE</p>
                </div>
            </div>
          </td>
          <td colspan="2" rowspan="6">
            <div class="card bg-light bgth h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="rotage-90">NEW MODEL</p>
                </div>
            </div>
          </td>
          <td rowspan="6">
            <div class="card bg-light bgth h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="rotage-90">STORAGE</p>
                </div>
            </div>
          </td>
          <td colspan="4">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>INJ 230 T 3</p>
                </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="4" rowspan="2">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p >INJ 850 T 7</p>
                </div>
            </div>
          </td>
          <td colspan="4">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>INJ 230 T 2</p>
                </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>INJ 230 T 1</p>
                </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="4" rowspan="2">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>INJ 850 T 6</p>
                </div>
            </div>
          </td>
          <td colspan="5">
            <div class="card bg-light bgth h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>STORAGE</p>
                </div>
            </div>
          </td>
          <td colspan="4">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>INJ 180 T 2</p>
                </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>FIN 2</p>
                </div>
            </div>
          </td>
          <td rowspan="2"></td>
          <td colspan="2">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>CORE 5</p>
                </div>
            </div>
          </td>
          <td colspan="5"></td>
          <td colspan="2" rowspan="2">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="text-truncate">FINAL RS EVAP</p>
                </div>
            </div>
          </td>
          <td colspan="2" rowspan="2">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>HELIUM 2</p>
                </div>
            </div>
          </td>
          <td colspan="3"></td>
          <td colspan="5" rowspan="2">
            <div class="card bg-light bgth h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>MEETING AREA</p>
                </div>
            </div>
          </td>
          <td colspan="3" rowspan="2">
            <div class="card bg-light bgth h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>CENTER</p>
                </div>
            </div>
          </td>
          <td colspan="4">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>INJ 180 T 1</p>
                </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="4" rowspan="2">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>INJ 1300 T 5</p>
                </div>
            </div>
          </td>
          <td colspan="2">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>FIN 3</p>
                </div>
            </div>
          </td>
          <td></td>
          <td colspan="6">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>GOLIGA HVAC 6</p>
                </div>
            </div>
          </td>
          <td colspan="3">
            <div class="card bg-light bgth h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>BOARD</p>
                </div>
            </div>
          </td>
          <td colspan="5"></td>
        </tr>
        <tr>
          <td colspan="29" class="walk-bg">&nbsp;</td>
          <td colspan="5" class="walk-bg"></td>
        </tr>
        <tr>
          <td colspan="4" rowspan="2">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>INJ 1300 T 4</p>
                </div>
            </div>
          </td>
          <td colspan="22"></td>
          <td rowspan="6"></td>
          <td colspan="6" rowspan="6">
            <div class="card bg-light bgth h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>CANTEEN</p>
                </div>
            </div>
          </td>
          <td rowspan="3">
            <div class="card bg-light bgth h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="rotage-90">MOTOR</p>
                </div>
            </div>
          </td>
          <td colspan="4">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>INJ 180 T 1</p>
                </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="4" rowspan="5">
            <div class="card bg-light bgth h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>STORAGE</p>
                </div>
            </div>
          </td>
          <td colspan="6">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>HVAC 1</p>
                </div>
            </div>
          </td>
          <td colspan="12" rowspan="5">
            <div class="card bg-light bgth h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>STORAGE</p>
                </div>
            </div>
          </td>
          <td colspan="4">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>INJ 550 T 1</p>
                </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="4" rowspan="2">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>INJ 850 T 10</p>
                </div>
            </div>
          </td>
          <td colspan="6">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>HVAC 2</p>
                </div>
            </div>
          </td>
          <td colspan="4">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>INJ 550 T 2</p>
                </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>HVAC 3</p>
                </div>
            </div>
          </td>
          <td rowspan="3">
            <div class="card bg-light bgth h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p class="rotage-90">CORE HEATER</p>
                </div>
            </div>
          </td>
          <td colspan="4">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>INJ 550 T 3</p>
                </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="4" rowspan="2">
            <div class="card bg-light bgth h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>DTTH</p>
                </div>
            </div>
          </td>
          <td colspan="6">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>HVAC 4</p>
                </div>
            </div>
          </td>
          <td colspan="4">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>INJ 550 T 4</p>
                </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>HVAC 5</p>
                </div>
            </div>
          </td>
          <td colspan="4">
            <div class="card text-bg-success h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <p>INJ 550 T 5</p>
                </div>
            </div>
          </td>
        </tr>
      </thead>

</table>