<table class="table">
    <tr>
      <th scope="col">
        Data
      </th>
      <th scope="col">
        Value
      </th>
      <th scope="col">
        Unit
      </th>
    </tr>
    <tr>
      <td>Date</td>
      <td class="mc_date"></td>
      <td></td>
    </tr>
    <tr>
      <td>Time</td>
      <td class="mc_time"></td>
      <td></td>
    </tr>
    <tr>
      <td>Cycle time</td>
      <td class="mc_cycletime"></td>
      <td>s</td>
    </tr>
    <tr>
      <td>Inj. Time</td>
      <td class="mc_injtime"></td>
      <td>s</td>
    </tr>
    <tr>
      <td>Recovery Time</td>
      <td class="mc_recovery_time"></td>
      <td>s</td>
    </tr>
    <tr>
      <td>Inj. start Pos</td>
      <td class="mc_inj_start_pos"></td>
      <td>mm</td>
    </tr>
    <tr>
      <td>H.P Trans Pos</td>
      <td class="mc_hp_trans_pos"></td>
      <td>mm</td>
    </tr>
    <tr>
      <td>Hold Comp Pos</td>
      <td class="mc_hold_comp_pos"></td>
      <td>mm</td>
    </tr>
    <tr>
      <td>Cushion</td>
      <td class="mc_cushion"></td>
      <td>mm</td>
    </tr>
    <tr>
      <td>Inj. Press</td>
      <td class="mc_inj_press"></td>
      <td>Mpa</td>
    </tr>
    <tr>
      <td>H.P Trans Prs</td>
      <td class="mc_hp_trans_prs"></td>
      <td>Mpa</td>
    </tr>
    <tr>
      <td>Back Press</td>
      <td class="mc_back_press"></td>
      <td>Mpa</td>
    </tr>
    <tr>
      <td>Cav. Press(OP)</td>
      <td class="mc_cav_press_op"></td>
      <td>Mpa</td>
    </tr>
    <tr>
      <td>LNH Temp</td>
      <td class="mc_lnh_temp"></td>
      <td>°C</td>
    </tr>
    <tr>
      <td>NH Temp</td>
      <td class="mc_nh_temp"></td>
      <td>°C</td>
    </tr>
    <tr>
      <td>H4 Temp</td>
      <td class="mc_h4_temp"></td>
      <td>°C</td>
    </tr>
    <tr>
      <td>H3 Temp</td>
      <td class="mc_h3_temp"></td>
      <td>°C</td>
    </tr>
    <tr>
      <td>H2 Temp</td>
      <td class="mc_h2_temp"></td>
      <td>°C</td>
    </tr>
    <tr>
      <td>H1 Temp</td>
      <td class="mc_h1_temp"></td>
      <td>°C</td>
    </tr>
    <tr>
      <td>Throat Temp</td>
      <td class="mc_throat_temp"></td>
      <td>°C</td>
    </tr>
    <tr>
      <td>Hyd. Temp</td>
      <td class="mc_hyd_temp"></td>
      <td>°C</td>
    </tr>
    <tr>
      <td>Mold Temp(Mov)</td>
      <td class="mc_mold_temp_mov"></td>
      <td>°C</td>
    </tr>
    <tr>
      <td>Mold Temp(Fix)</td>
      <td class="mc_mold_temp_fix"></td>
      <td>°C</td>
    </tr>
    <tr>
      <td>Panel Temp</td>
      <td class="mc_panel_temp"></td>
      <td>°C</td>
    </tr>
    <tr>
      <td>HV Temp(OP)</td>
      <td class="mc_hv_temp_op"></td>
      <td>°C</td>
    </tr>
  </table>