<% if (inj == '1') { %> 

    <a href="/layout/Injection?inj=<%= inj %>&page=index" class="btn btn-dark btn-grey w-100">index</a>
    <a href="/layout/Injection?inj=<%= inj %>&page=test" class="btn btn-dark btn-grey w-100">test</a>

<% } %>

<!-- <% if (inj == '2') { %> 

    <a href="/layout/Injection?inj=<%= inj %>&page=index" class="btn btn-dark btn-grey w-100">index</a>
    <a href="/layout/Injection?inj=<%= inj %>&page=test" class="btn btn-dark btn-grey w-100">test</a>

<% } %> -->




<!-- Injection4320 -->