<style>
    .badge-rc {
        background-color: rgba(152, 214, 89, 0.8);
        position: fixed;
        font-size: 0.6vw;
        text-shadow: 0 0 3px #000;
    }
</style>
<div class="container-fluid">
    <div class="row">
      <div class="col-xxl-7 align-self-end pb-lg-4 pb-md-4 pb-sm-4 pb-xxl-0" style="contain: content;">

        <img src="../../images/inj_net100_img.png" width="100%">
        
      </div>

      <div class="col-xxl-3 col-xl-12 pb-lg-4 pb-md-4 pb-sm-4 pb-xxl-0">
        <div class="card w-100 h-100">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="d-flex align-items-center">
                        <div class="p-2 w-100 fs-6">Prod. Volume : </div>
                        <div class="p-2 flex-shrink-2" id="PVol">

                        </div>
                      </div>
                </li>
                <li class="list-group-item">
                    <div class="d-flex align-items-center">
                        <div class="p-2 w-100 fs-6">Machine Cycle time :</div>
                        <div class="fs-4 p-2 flex-shrink-2" id="MC-T">
                        </div>
                        <span>s</span>
                      </div>
                </li>
            </ul>
            <div class="card-footer d-flex align-items-center h-100 fs-6" id="status-text-background">
                <marquee behavior="" direction=""><span class="fs-1" id="status-text" style="font-weight: 700;"></span></marquee>
            </div>
          </div>
      </div>

      <div class="col-xxl-2 col-xl-12 pb-lg-4 pb-md-4 pb-sm-4 pb-xxl-0 h-100">
        <div class="card w-100">
            <div class="card-header text-center fs-6">
              Andon status
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="d-flex align-items-center">
                        <div class="p-2 w-100 fs-6">Stop / Down / Offine</div>
                        <div class="p-2 flex-shrink-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi-square-fill" viewBox="0 0 16 16">
                                <path id="stop" style="fill:#808080;" d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z"></path>
                            </svg>
                        </div>
                      </div>
                </li>
                <li class="list-group-item">
                    <div class="d-flex align-items-center">
                        <div class="p-2 w-100 fs-6">Arrange</div>
                        <div class="p-2 flex-shrink-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi-square-fill" viewBox="0 0 16 16">
                                <path id="arrange" style="fill:#808080;" d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z"></path>
                            </svg>
                        </div>
                      </div>
                </li>
                <li class="list-group-item">
                    <div class="d-flex align-items-center">
                        <div class="p-2 w-100 fs-6">Production</div>
                        <div class="p-2 flex-shrink-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi-square-fill" viewBox="0 0 16 16">
                                <path id="production" style="fill:#808080;" d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z"></path>
                            </svg>
                        </div>
                      </div>
                </li>
            </ul>
          </div>
      </div>

    </div>
  </div>