<a href="/layout/BrazingGIC2?page=vibrator" class="btn btn-dark btn-grey w-100">Vibrator RC Fan</a>
<a href="/layout/BrazingGIC2?page=temp" class="btn btn-dark btn-grey w-100">Temperature RC Fan</a>
<a href="/layout/BrazingGIC2?page=current" class="btn btn-dark btn-grey w-100">Current RC Fan</a>
<a href="/layout/BrazingGIC2?page=tempChamber" class="btn btn-dark btn-grey w-100">Temp. Chamber</a>
<a href="/layout/BrazingGIC2?page=otherSensor" class="btn btn-dark btn-grey w-100">Other Sensor</a>
<a href="/layout/BrazingGIC2?page=history" class="btn btn-dark btn-grey w-100" aria-disabled="true">History</a>