<style>
    .badge-rc {
        background-color: rgba(152, 214, 89, 0.8);
        position: fixed;
        font-size: 0.6vw;
        text-shadow: 0 0 3px #000;
    }
</style>
<div class="container-fluid">
    <div class="row">
      <div class="col-xxl-8 align-self-end pb-lg-4 pb-md-4 pb-sm-4 pb-xxl-0" style="contain: content;">

        <img src="../../images/Picture1.png" width="100%">
        
      </div>

      <div class="col-xxl-2 pb-lg-4 pb-md-4 pb-sm-4 pb-xxl-0">
        <div class="card w-100 h-100">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="d-flex align-items-center">
                        <div class="p-2 w-100 fs-6">Prod. Volume : </div>
                        <div class="p-2 flex-shrink-2">

                        </div>
                      </div>
                </li>
                <li class="list-group-item">
                    <div class="d-flex align-items-center">
                        <div class="p-2 w-100 fs-6">Machine Cycle time :</div>
                        <div class="p-2 flex-shrink-2">

                        </div>
                      </div>
                </li>
            </ul>
            <div class="card-footer d-flex align-items-center h-100 fs-6" style="background-color: rgba(152, 214, 89, 0.1);">
                <marquee behavior="" direction=""><span class="fs-1"  style="color: var(--color-normal);font-weight: 700;">Normal</span></marquee>
            </div>
          </div>
      </div>

      <div class="col-xxl-2 pb-sm-4 pb-xxl-0">
        <div class="card w-100">
            <div class="card-header text-center fs-6">
              Andon status
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="d-flex align-items-center">
                        <div class="p-2 w-100 fs-6">Fault</div>
                        <div class="p-2 flex-shrink-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi-square-fill" viewBox="0 0 16 16">
                                <path style="fill:#808080;" d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z"></path>
                            </svg>
                        </div>
                      </div>
                </li>
                <li class="list-group-item">
                    <div class="d-flex align-items-center">
                        <div class="p-2 w-100 fs-6">Setup / Warning</div>
                        <div class="p-2 flex-shrink-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi-square-fill" viewBox="0 0 16 16">
                                <path style="fill:#808080;" d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z"></path>
                            </svg>
                        </div>
                      </div>
                </li>
                <li class="list-group-item">
                    <div class="d-flex align-items-center">
                        <div class="p-2 w-100 fs-6">Autorun</div>
                        <div class="p-2 flex-shrink-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi-square-fill" viewBox="0 0 16 16">
                                <path style="fill:#98D659;" d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z"></path>
                            </svg>
                        </div>
                      </div>
                </li>
            </ul>
          </div>
      </div>

    </div>
  </div>