<a href="/layout/GCAC_1?page=index" class="btn btn-dark btn-grey w-100">index</a>
<a href="/layout/GCAC_1?page=pressure" class="btn btn-dark btn-grey w-100">Pressure</a>
<a href="/layout/GCAC_1?page=calibrate" class="btn btn-dark btn-grey w-100">Calibrate</a>
<a href="/layout/GCAC_1?page=grade" class="btn btn-dark btn-grey w-100">operate</a>
