<%- include('HeliumBRS_partials/HeliumBRS_header') -%>

<%- include('../../partials/navbar_dashboard') -%>

<%- include('HeliumBRS_partials/HeliumBRS_menu') -%>

            </div>
          </li>
        </ul>

      </div>
    </nav>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">



    <div class="card card-body margin-5">

      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-0 pb-2 mb-3 border-bottom">
        <h3 class="text-uppercase" style="font-weight: 700;">HELIUM BRS / index </h3>
        
      </div>

            <!-- MAIN CONTENT -->

            <table class="table">
              <tr>
                <th scope="col">
                  Data
                </th>
                <th scope="col">
                  Values
                </th>
                <th scope="col">
                  Unit
                </th>
              </tr>
              <tr>
                <td>MC_Status</td>
                <td class="MC_Status"></td>
                <td></td>
              </tr>
              <tr>
                <td>Pressure_Chamber_A</td>
                <td class="Pressure_Chamber_A"></td>
                <td>Pa</td>
              </tr>
              <tr>
                <td>Work_Chamber_A</td>
                <td class="Work_Chamber_A"></td>
                <td>MPa</td>
              </tr>
              <tr>
                <td>Work_Chamber_B</td>
                <td class="Work_Chamber_B"></td>
                <td>MPa</td>
              </tr>
              <tr>
                <td>Pressure_Chamber_B</td>
                <td class="Pressure_Chamber_B"></td>
                <td>Pa</td>
              </tr>
              <tr>
                <td>Leak_rate_A</td>
                <td class="Leak_rate_A"></td>
                <td>Pa*m³/s</td>
              </tr>
              <tr>
                <td>Alarm_A</td>
                <td class="Alarm_A"></td>
                <td>Pa*m³/s</td>
              </tr>
              <tr>
                <td>Leak_rate_B</td>
                <td class="Leak_rate_B"></td>
                <td>Pa*m³/s</td>
              </tr>
              <tr>
                <td>Alarm_B</td>
                <td class="Alarm_B"></td>
                <td>Pa*m³/s</td>
              </tr>
              <tr>
                <td>Pressure_Chamber_C</td>
                <td class="Pressure_Chamber_C"></td>
                <td>Pa</td>
              </tr>
              <tr>
                <td>Work_Chamber_C</td>
                <td class="Work_Chamber_C"></td>
                <td>MPa</td>
              </tr>
              <tr>
                <td>Work_Chamber_D</td>
                <td class="Work_Chamber_D"></td>
                <td>MPa</td>
              </tr>
              <tr>
                <td>Pressure_Chamber_D</td>
                <td class="Pressure_Chamber_D"></td>
                <td>Pa</td>
              </tr>
              <tr>
                <td>Leak_rate_C</td>
                <td class="Leak_rate_C"></td>
                <td>Pa*m³/s</td>
              </tr>
              <tr>
                <td>Alarm_C</td>
                <td class="Alarm_C"></td>
                <td>Pa*m³/s</td>
              </tr>
              <tr>
                <td>Leak_rate_D</td>
                <td class="Leak_rate_D"></td>
                <td>Pa*m³/s</td>
              </tr>
              <tr>
                <td>Alarm_D</td>
                <td class="Alarm_D"></td>
                <td>Pa*m³/s</td>
              </tr>
              <tr>
                <td>Pressure_Chamber_E</td>
                <td class="Pressure_Chamber_E"></td>
                <td>Pa</td>
              </tr>
              <tr>
                <td>Work_Chamber_E</td>
                <td class="Work_Chamber_E"></td>
                <td>MPa</td>
              </tr>
              <tr>
                <td>Work_Chamber_F</td>
                <td class="Work_Chamber_F"></td>
                <td>MPa</td>
              </tr>
              <tr>
                <td>Pressure_Chamber_F</td>
                <td class="Pressure_Chamber_F"></td>
                <td>Pa</td>
              </tr>
              <tr>
                <td>Leak_rate_E</td>
                <td class="Leak_rate_E"></td>
                <td>Pa*m³/s</td>
              </tr>
              <tr>
                <td>Alarm_E</td>
                <td class="Leak_rate_F"></td>
                <td>Pa*m³/s</td>
              </tr>
              <tr>
                <td>Alarm_F</td>
                <td class="Alarm_F"></td>
                <td>Pa*m³/s</td>
              </tr>
              <tr>
                <td>HCM</td>
                <td class="HCM"></td>
                <td></td>
              </tr>
              <tr>
                <td>status</td>
                <td class="status"></td>
                <td></td>
              </tr>
              <tr>
                <td>calibrate</td>
                <td class="calibrate"></td>
                <td></td>
              </tr>
            </table>
      
            <!-- END MAIN CONTENT -->
      

  </main>

<script>
  const socket = io('https://ws.ap.ngrok.io' , { transports : ['websocket'] });
  socket.on('helium-brs-all-data', (res) => {
    $(".MC_Status").html(res.MC_Status);
    $(".Pressure_Chamber_A").html(res.Pressure_Chamber_A);
    $(".Work_Chamber_A").html(res.Work_Chamber_A);
    $(".Work_Chamber_B").html(res.Work_Chamber_B);
    $(".Pressure_Chamber_B").html(res.Pressure_Chamber_B);
    $(".Leak_rate_A").html(res.Leak_rate_A);
    $(".Alarm_A").html(res.Alarm_A);
    $(".Leak_rate_B").html(res.Leak_rate_B);
    $(".Alarm_B").html(res.Alarm_B);
    $(".Pressure_Chamber_C").html(res.Pressure_Chamber_C);
    $(".Work_Chamber_C").html(res.Work_Chamber_C);
    $(".Work_Chamber_D").html(res.Work_Chamber_D);
    $(".Pressure_Chamber_D").html(res.Pressure_Chamber_D);
    $(".Leak_rate_C").html(res.Leak_rate_C);
    $(".Alarm_C").html(res.Alarm_C);
    $(".Leak_rate_D").html(res.Leak_rate_D);
    $(".Alarm_D").html(res.Alarm_D);
    $(".Pressure_Chamber_E").html(res.Pressure_Chamber_E);
    $(".Work_Chamber_E").html(res.Work_Chamber_E);
    $(".Work_Chamber_F").html(res.Work_Chamber_F);
    $(".Pressure_Chamber_F").html(res.Pressure_Chamber_F);
    $(".Leak_rate_E").html(res.Leak_rate_E);
    $(".Alarm_E").html(res.Alarm_E);
    $(".Leak_rate_F").html(res.Leak_rate_F);
    $(".Alarm_F").html(res.Alarm_F);
    $(".HCM").html(res.HCM);
    $(".status").html(res.status);
    $(".calibrate").html(res.calibrate);
  });
</script>